.patient{
  padding-top: 9rem;
  font-size: 1.35rem;
  &__navbar{
    position: fixed;
    z-index: 9;
    height: 2.5rem;
    background-color: #B2101D;
    &--nav-item{
      font-size: 1.5rem;
      color: white;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
    &--skew{
      width: 0;
      height: 0;
      border-top: 2.5rem solid #B2101D;
      border-right: 2.5rem solid transparent;
      display: block;
      margin-left: 52.895625rem;
      position: fixed;
      z-index: 9;
    }
  }
  &__body{
    width: 80rem;
    font-size: 1.75rem;
    &--achievement{
      padding-top: 2.5rem;
    }
  }

  &__welcome-section{
    background-color: #B2101D;
    margin-top: 2rem;
    float: right;
    width: 42rem;
    position:relative;
    color: #FFFFFF;
    &--card{
      right: 3.22rem;
      top: 10rem;
      width: 12rem;
      height: 7.95rem;
      border: 0.05rem solid white;
    }
    &--alertcount{
      color: #FFE26F;
    }
    &--number{
      position: absolute;
      width: 6rem;
    }
    &--heart{
      width: 6rem;
    }
    &--avatar{
      border-radius: 50%;
      height: 8rem;
      position: absolute;
      right: 3.22rem;
    }
  }

  &__sendValues-section{
    position: absolute;
    background-color: #B2101D;
    width: 42rem;
    color: #FFFFFF;
    top: 25rem;
    right: 0.9375rem;
  }

  &__patient-section{
    &--title{
      float: left;
    }
    &--addbtn{
      float: right;
    }
    &--moreBtn{
      float: right;
    }
  }
}