.patient{
  padding-top: 9rem;
  font-size: 1.35rem;
  &__navbar{
    position: fixed;
    z-index: 9;
    height: 2.5rem;
    background-color: #B2101D;
    &--nav-item{
      font-size: 1.5rem;
      color: white;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
    &--skew{
      width: 0;
      height: 0;
      border-top: 2.5rem solid #B2101D;
      border-right: 2.5rem solid transparent;
      display: block;
      margin-left: 52.895625rem;
      position: fixed;
      z-index: 9;
    }
  }
  &__body{
    width: 80rem;
    font-size: 1.75rem;
    &--achievement{
      padding-top: 2.5rem;
    }
    &--chartSection{
      padding-top: 2.5rem;
      width: 70%;
      position: relative;
    }
    &--chart{
        display: block;
    }
    &--noValues{
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #FFFFFF;
      background-color: #B2101D;
      padding: 1rem;
      opacity: 70%;
    }
  }

  &__welcome-section{
    z-index: 7;
    background-color: #B2101D;
    margin-top: 2rem;
    float: right;
    width: 42rem;
    position:relative;
    color: #FFFFFF;
    &--card{
      position: relative;
      text-align: center;
      color: white;
      height: 8rem;
    }
    &--alertCount{
      color: #FFE26F;
    }
    &--dayCount{
      color: white;
      position: absolute;
      top: 35%;
      left: 29.5%;
    }
    &--avatar{
      height: 100%;
    }
  }

  &__sendValues-section{
    z-index: 7;
    position: absolute;
    background-color: #B2101D;
    width: 42rem;
    color: #FFFFFF;
    top: 25rem;
    right: 0.9375rem;
  }
}
.noAccess{
  display: none;
  padding-right: 1rem;
  padding-left: 1rem;
  height: 100%;
  padding-top: 10%;
}
