<div class="patient" id="loginSite">
  <nav class="patient__navbar">
    <a routerLink="/patient/dashboard" class="patient__navbar--nav-item">Dashboard</a>
    <a routerLink="/patient/appointment" class="patient__navbar--nav-item">Termine</a>
    <a routerLink="/patient/parameter-chart" class="patient__navbar--nav-item">Blutdruckwerte</a>
    <a routerLink="/patient/achievement" class="patient__navbar--nav-item">Herausforderungen</a>
    <a routerLink="/patient/settings" class="patient__navbar--nav-item">Einstellungen</a>
    <a routerLink="/home" class="patient__navbar--nav-item" (click)="onOff()">Abmelden</a>
  </nav>
  <div class="patient__navbar--skew"></div>

  <div class="container-fluid">
    <div class="patient__welcome-section jumbotron shadow p-3 rounded">
      <div class="row">
        <div class="col-6">
          <h1>Hallo {{name}}!</h1>
          <p>Sie haben <a class="patient__welcome-section--alertCount" routerLink="/patient/alerts">{{number_new_alerts}} neue Nachrichten</a></p>
        </div>
        <div class="col-6">
          <div class="patient__welcome-section--card">
            <img src="/assets/card-man.png" alt="avatar" class="patient__welcome-section--avatar">
          </div>
          <div class="patient__welcome-section--dayCount">
            <fa name="{{stat}}"></fa>
          </div>
        </div>
      </div>
    </div>
    <div class="patient__sendValues-section jumbotron shadow p-3 rounded">
      <h1>Blutdruck eintragen</h1>
      <form ngNativeValidate>
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="systole">Systole:</label>
          </div>
          <input min="90" max="300" type="number" id="systole" required #systole>
          <div class="input-group-prepend">
            <label class="input-group-text" for="diastole">Diastole:</label>
          </div>
          <input min="50" max="130" type="number" id="diastole" required #diastole>
          <div class="input-group-prepend">
            <label class="input-group-text" for="heartRate">Herzrate:</label>
          </div>
          <input min="40" max="200" type="number" id="heartRate" required #heartRate>
          <input type="submit" value="Absenden" (click)="onSend()" class="btn btn-danger">
        </div>
      </form>
    </div>

    <div class="shadow p-3 bg-white patient__body">
      <div class="patient__body--achievement">
        <h1>Herausforderungen</h1>
        <p>Ihnen fehlen noch 3 Tage für den nächsten Erfolg!</p>
      </div>
      <div class="patient__body--chartSection">
        <h1>Ihre Blutdruckwerte der letzten 3 Tage</h1>
        <highcharts-chart
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                class="patient__body--chart"
        ></highcharts-chart>
        <div class="jumbotron shadow p-3 rounded patient__body--noValues" id="noValues">
          <h2>Leider gibt es keine Werte von den letzten 3 Tagen )-:</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="noAccess" id="noAccess">
  <div class="jumbotron shadow p-3 bg-white rounded">
    <h1>Sie haben keinen Zutritt zu diesem Teil der Seite</h1>
    <p>Bitte melden Sie sich <a routerLink="/home">hier</a> an</p>
  </div>
</div>