@import "../../../../global-files/scss/nav";
@import "../../../../global-files/scss/variables";

.nav {
  &__SkewPat {
    @media only screen and (max-width: 920px) {
      margin-left: 15rem;
    }
    @media only screen and (min-width: 921px) {
      margin-left: 55.39em;
    }
    width: 0;
    height: 0;
    border-top: 2.5rem solid $rrp-primary-color;
    border-right: 2.5rem solid transparent;
    display: block;
    position: fixed;
    z-index: 9;
  }
}
