<nav class="nav" #nav>
  <a routerLink="/patient/dashboard" class="nav--nav-item">Dashboard</a>
  <a routerLink="/patient/parameter" class="nav--nav-item">Blutdruckwerte</a>
  <a routerLink="/patient/achievement" class="nav--nav-item">Herausforderungen</a>
  <a routerLink="/patient/contact" class="nav--nav-item">Kontakt</a>
  <a routerLink="/patient/user" class="nav--nav-item">Benutzer</a>
  <a routerLink="/home" class="nav--nav-item" (click)="onOff()">Abmelden</a>
</nav>
<select class="custom-select navMobile" (change)="onRoute($event.target.value)" #navMobile>
  <option value="patient/dashboard">Dashboard</option>
  <option value="patient/parameter">Blutdruckwerte</option>
  <option value="patient/achievement">Herausforderungen</option>
  <option value="patient/contact">Kontakt</option>
  <option value="patient/user">Benutzer</option>
  <option value="home" (click)="onOff()">Abmelden</option>
</select>
<div class="nav--SkewPat"></div>