<nav class="nav">
  <a routerLink="/patient/dashboard" class="nav--nav-item">Dashboard</a>
  <a routerLink="/patient/parameter/chart" class="nav--nav-item">Blutdruckwerte</a>
  <a routerLink="/patient/achievement" class="nav--nav-item">Herausforderungen</a>
  <a routerLink="/patient/contact/appointment" class="nav--nav-item">Kontakt</a>
  <a routerLink="/patient/user/information" class="nav--nav-item">Benutzer</a>
  <a routerLink="/home" class="nav--nav-item" (click)="onOff()">Abmelden</a>
</nav>
<select class="custom-select navMobile" (change)="onRoute($event.target.value)">
  <option value="patient/dashboard">Dashboard</option>
  <option value="patient/parameter/chart">Blutdruckwerte</option>
  <option value="patient/achievement">Herausforderungen</option>
  <option value="patient/contact/appointment">Kontakt</option>
  <option value="patient/user/information">Benutzer</option>
  <option value="home" (click)="onOff()">Abmelden</option>
</select>
<div class="nav--SkewPat"></div>