.alertDoctor {
  padding-top: 5.5rem;
  font-size: 1rem;
  &__body {
    @media only screen and (min-width: 1000px) {
      width: 80%;
    }
    @media only screen and (max-width: 1000px) {
      width: 100%;
    }
    &--alertList {
      padding-top: 4rem;
    }
  }
  &__table {
    width: 70%;
    @media only screen and (min-width: 600px) {
      &--mobile {
        display: none;
      }
    }
    @media only screen and (max-width: 600px) {
      &--mobile {
        display: block;
        font-size: 1rem;
      }
      &--full {
        display: none;
      }
    }
    @media only screen and (max-width: 400px) {
      &--mobile {
        font-size: 0.6rem;
      }
    }
  }
}
