@import "../../../global-files/scss/variables";

.alertDoctor {
  padding-top: $padding-header-for-nav;
  font-size: $font-normal-size;
  @extend %responsive-body;
}

.body {
  &__alertList {
    padding-top: $padding-header-after-nav;
  }
  &__table {
    @media only screen and (min-width: 601px) {
      &--mobile {
        display: none;
      }
    }
    @media only screen and (max-width: 600px) {
      &--full {
        display: none;
      }
    }
  }
}
