.patientList {
  padding-top: 9rem;
  font-size: 1.35rem;
  &__navbar {
    position: fixed;
    z-index: 9;
    height: 2.5rem;
    background-color: #B2101D;
    &--nav-item {
      font-size: 1.5rem;
      color: white;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
    &--skew {
      width: 0;
      height: 0;
      border-top: 2.5rem solid #B2101D;
      border-right: 2.5rem solid transparent;
      display: block;
      margin-left: 43.871875rem;
      position: fixed;
      z-index: 9;
    }
  }
  &__navbarSecond{
    left: 18.008125rem;
    margin-top: 2.2rem;
    position: fixed;
    z-index: 9;
    height: 2.5rem;
    background-color: #B2101D;
    &--nav-item{
      font-size: 1.5rem;
      color: white;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
    &--skewRight{
      margin-top: 2.2rem;
      width: 0;
      height: 0;
      border-top: 2.5rem solid #B2101D;
      border-right: 2.5rem solid transparent;
      display: block;
      margin-left: 36.2425rem;
      position: fixed;
      z-index: 9;
    }
    &--skewLeft{
      margin-top: 2.2rem;
      width: 0;
      height: 0;
      border-top: 2.5rem solid #B2101D;
      border-left: 2.5rem solid transparent;
      display: block;
      margin-left: 15.508125rem;
      position: fixed;
      z-index: 9;
    }
  }

  &__addPatient{
    z-index: 7;
    background-color: #B2101D;
    margin-top: 2rem;
    float: right;
    width: 42rem;
    position:relative;
    color: #FFFFFF;
  }

  &__body {
    width: 80rem;
    font-size: 1.5rem;
    &--list {
      padding-top: 4rem;
    }
    &--addBtn{
      float: right;
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }
    &--title{
      float: left;
    }
  }
}

.noAccess{
  display: none;
  padding-right: 1rem;
  padding-left: 1rem;
  height: 100%;
  padding-top: 10%;
}