.patientlist-view{
  padding-top: 10.3rem;
  &__general-section{
    &--title{
      float: left;
    }
    &--addBtn{
      float: right;
    }
  }
  &__new-patient-section{
    display: none;
    &--form-row{
      margin-top: 0.5rem;
    }
    &--backBtn{
      float: right;
    }
    &--saveBtn{
      float: left;
    }
  }
  &__detail-section {
    &--title {
      float: left;
    }
    &--offChangeBtn {
      float: right;
      display: none;
    }
    &--onChangeBtn {
      float: right;
    }
    &--form-row {
      margin-top: 0.5rem;
    }
    &--backBtn {
      float: right;
    }
    &--saveBtn{
      float: left;
    }
  }
}