<div class="patientList" id="loginSite">
  <nav class="patientList__navbar">
    <a routerLink="/doctor/dashboard" class="patientList__navbar--nav-item">Dashboard</a>
    <a routerLink="/doctor/messages" class="patientList__navbar--nav-item">Nachrichten</a>
    <a routerLink="/doctor/patients" class="patientList__navbar--nav-item">Patienten</a>
    <a routerLink="/doctor/settings" class="patientList__navbar--nav-item">Einstellungen</a>
    <a routerLink="/home" class="patientList__navbar--nav-item" (click)="onOff()">Abmelden</a>
  </nav>
  <nav class="patientList__navbarSecond">
    <a routerLink="/doctor/patients" class="patientList__navbarSecond--nav-item">Übersicht</a>
    <a routerLink="/doctor/patients/record/:sv" class="patientList__navbarSecond--nav-item">Patienten-Akt</a>
  </nav>
  <div class="patientList__navbarSecond--skewRight"></div>
  <div class="patientList__navbarSecond--skewLeft"></div>
  <div class="patientList__navbar--skew"></div>

  <div class="container-fluid">
    <div class="shadow p-3 bg-white patientList__body">
      <div class="patientList__body--list">
        <h2 class="patientList__body--title">Patientenübersicht</h2>
        <input type="button" class="btn btn-danger patientList__body--addBtn"
               value="Neuen Patienten anlegen" (click)="onAddPatient()">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">SV-Nummer</th>
            <th scope="col">Nachname</th>
            <th scope="col">Vorname</th>
            <th scope="col">Alter</th>
            <th scope="col">Letzter Besuch</th>
            <th scope="col">Registriert seit</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let patient of patients"
              (click)="onSelect(patient)">
            <td>{{patient.sv}}</td>
            <td>{{patient.last_name}}</td>
            <td>{{patient.first_name}}</td>
            <td>{{patient.age}}</td>
            <td>{{patient.last_visit | date:'dd.MM.yyyy'}}</td>
            <td>{{patient.registered | date:'dd.MM.yyyy'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="noAccess" id="noAccess">
  <div class="jumbotron shadow p-3 bg-white rounded">
    <h1>Sie haben keinen Zutritt zu diesem Teil der Seite</h1>
    <p>Bitte melden Sie sich <a routerLink="/home">hier</a> an</p>
  </div>
</div>
  <!--
<div *ngIf="selectedPatient" #detailSection>



  <div class="jumbotron shadow p-3 bg-white rounded patientlist-view__new-patient-section"
       id="patientlist-view__new-patient-section"
       #newPatientSection>
    <h2>Patienten anlegen</h2>
    <form>
      <div class="form-row">
        <div class="col-2">
          <label>SV-Nummer:</label>
          <input type="number" class="form-control" #svFrom>
        </div>
        <div class="col-2">
          <label>Vorname:</label>
          <input type="text" class="form-control" #firstName>
        </div>
        <div class="col-2">
          <label>Nachname:</label>
          <input type="text" class="form-control" #lastName>
        </div>
        <div class="col-1">
          <label>Alter:</label>
          <input type="number" class="form-control" #age>
        </div>
        <div class="col-1">
          <label>Geschlecht:</label>
          <input type="text" class="form-control" #gender>
        </div>
      </div>
      <div class="form-row patientlist-view__new-patient-section--form-row">
        <div class="col-4">
          <label>Letzter Besuch:</label>
          <input type="date" class="form-control" #lastVisit>
        </div>
        <div class="col-4">
          <label>Registriert seit:</label>
          <input type="date" class="form-control" #registered>
        </div>
      </div>
      <div class="form-row patientlist-view__new-patient-section--form-row">
        <div class="col-3">
          <label>Medikation:</label>
          <input type="text" class="form-control" #currentMedication>
        </div>
        <div class="col-2">
          <label>Einnahme Intervall:</label>
          <input type="text" class="form-control" #medicationInterval>
        </div>
        <div class="col-3">
          <label >Bereits probierte Medikammente:</label>
          <input type="text" class="form-control" #usedMedication>
        </div>
      </div>
      <div class="patientlist-view__new-patient-section--form-row">
        <input type="submit" id="savePatient" value="Patienten hinzufügen" class="patientlist-view__new-patient-section--saveBtn"
               (click)="onAddPatientBtn()">
      </div>
    </form>
    <input type="button" class="patientlist-view__new-patient-section--backBtn" (click)="onBackBtn()" value="Zurück"><br>
  </div>


  <div *ngIf="selectedPatient" #detailSection>

    <div class="jumbotron shadow p-3 bg-white rounded patientlist-view__detail-section">
      <h2 class="patientlist-view__detail-section--title">{{selectedPatient.last_name | uppercase}} {{selectedPatient.first_name}} Details:</h2>
      <input type="button" class="patientlist-view__detail-section--onChangeBtn" #changeOn (click)="onChangeBtn()"
             value="Patientenakt bearbeiten"><br>
      <input type="button" class="patientlist-view__detail-section--offChangeBtn"  #changeOff (click)="offChangeBtn()"
             value="Patientenakt bearbeiten"><br>
      <hr class="m-4">
      <div class="patientlist-view__detail-section--change-record" id="change-record">
        <form>
          <div class="form-row">
            <div class="col-2">
              <label>SV-Nummer:</label>
              <input name="svFrom" type="text" class="form-control" disabled="true"
                     [(ngModel)]="selectedPatient.svFrom">
            </div>
            <div class="col-2">
              <label>Alter: </label>
              <input name="age" type="number" class="form-control" disabled="true" #changeAge
                     [(ngModel)]="selectedPatient.age" >
            </div>
            <div class="col-2">
              <label>Geschlecht:</label>
              <input name="gender" type="text" class="form-control" disabled="true"
                     [(ngModel)]="selectedPatient.gender">
            </div>
          </div>
          <div class="form-row patientlist-view__detail-section--form-row">
            <div class="col-4">
              <label>Letzter Besuch:</label>
              <input name="last_visit" type="text" class="form-control" disabled="true" #changeLastVisit
                     [(ngModel)]="selectedPatient.last_visit">
            </div>
            <div class="col-2">
              <label>Registriert seit:</label>
              <input name="registered" type="text" class="form-control" disabled="true"
                     [(ngModel)]="selectedPatient.registered">
            </div>
          </div>
          <div class="form-row patientlist-view__detail-section--form-row">
            <div class="col-2">
              <label>Medikation:</label>
              <input name="current_medication" type="text" class="form-control" disabled="true" #changeCurrentMedication
                     [(ngModel)]="selectedPatient.current_medication">
            </div>
            <div class="col-2">
              <label>Einnahme Intervall:</label>
              <input name="medication_interval" type="text" class="form-control" disabled="true" #changeMedicationInterval
                     [(ngModel)]="selectedPatient.medication_interval">
            </div>
            <div class="col-3">
              <label >Bereits probierte Medikammente:</label>
              <input name="used_medication" type="text" class="form-control" disabled="true" #changeUsedMedication
                     [(ngModel)]="selectedPatient.used_medication">
            </div>
          </div>
          <div class="patientlist-view__detail-section--form-row"><br>
            <input type="submit" id="Save_Patient" value="Patient speichern" class="patientlist-view__detail-section--saveBtn"
                   (click)="offChangeBtn()" #saveBtn>
          </div>
        </form>
        <input type="button" class="patientlist-view__new-patient-section--backBtn" (click)="onBackBtn()" value="Zurück"><br>
      </div>
    </div>
    <div class="jumbotron shadow p-3 bg-white rounded parameterlist-view__general-section">
        <h1 class="parameterlist-view--general-section--title">Vitalparameter</h1>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Datum</th>
            <th scope="col">Zeit</th>
            <th scope="col">Systole</th>
            <th scope="col">Diastole</th>
            <th scope="col">Herzrate</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of dates">
            <td>{{data.date}}</td>
            <td>{{data.time}}</td>
            <td>{{data.systole}}</td>
            <td>{{data.diastole}}</td>
            <td>{{data.heartbeat}}</td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
  </div>
</div>-->