.patientList {
  padding-top: 5.5rem;
  font-size: 1rem;
  &__body {
    @media only screen and (min-width: 1001px) {
      width: 80%;
    }
    @media only screen and (max-width: 1000px) {
      width: 100%;
    }
    &--list {
      padding-top: 4rem;
    }
    &--btn {
      @media only screen and (min-width: 571px) {
        &-mobile {
          display: none;
        }
        &-full {
          float: right;
          position: relative;
        }
      }
      @media only screen and (max-width: 570px) {
        &-mobile {
          float: right;
          position: relative;
        }
        &-full {
          display: none;
        }
      }
    }
  }

  &__table {
    @media only screen and (min-width: 681px) {
      &--mobile {
        display: none;
      }
      &--full {
      }
    }
    @media only screen and (max-width: 680px) {
      &--full {
        display: none;
      }
    }
  }
}
