<div class="patientList" id="loginSite">
    <app-navbar-doctor></app-navbar-doctor>
    <app-navbar-patient></app-navbar-patient>
    <div class="container-fluid">
        <div class="shadow p-3 bg-white patientList__body">
            <div class="patientList__body--list">
                <div class="row">
                    <div class="col-6">
                        <h2>Patientenübersicht</h2>
                    </div>
                    <div class="col-6">
                        <input type="button" class="btn btn-danger patientList__body--btn-full"
                               value="Neuen Patienten anlegen" (click)="onAddPatient()">
                        <input type="button" class="btn btn-danger patientList__body--btn-mobile"
                               value="+" (click)="onAddPatient()">
                    </div>
                </div>
                <table class="table table-hover patientList__table--full">
                    <thead>
                    <tr>
                        <th scope="col">SV-Nummer</th>
                        <th scope="col">Nachname</th>
                        <th scope="col">Vorname</th>
                        <th scope="col">Geschlecht</th>
                        <th scope="col">Letzter Besuch</th>
                        <th scope="col">Registriert seit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let patient of patients"
                        (click)="onSelect(patient)">
                        <td>{{patient.sv}}</td>
                        <td>{{patient.last_name}}</td>
                        <td>{{patient.first_name}}</td>
                        <td>{{patient.gender}}</td>
                        <td>{{patient.last_visit | date:'dd.MM.yyyy'}}</td>
                        <td>{{patient.registered | date:'dd.MM.yyyy'}}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-hover patientList__table--mobile">
                    <thead>
                    <tr>
                        <th scope="col">SV-Nummer</th>
                        <th scope="col">Name</th>
                        <th scope="col">Letzter Besuch</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let patient of patients"
                        (click)="onSelect(patient)">
                        <td>{{patient.sv}}</td>
                        <td>{{patient.last_name}} {{patient.first_name}}</td>
                        <td>{{patient.registered | date:'dd.MM.yyyy'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-no-access></app-no-access>