@import "../../../global-files/scss/variables";

.patientList {
  padding-top: $padding-header-for-nav;
  font-size: $font-normal-size;
  @extend %responsive-body;
}

.body {
  &__list {
    padding-top: $padding-header-after-nav;
    }
  &__btn {
    float: right;
    position: relative;
      @media only screen and (min-width: 571px) {
        &--full {
          float: right;
          position: relative;
        }
        &--mobile {
          display: none;
        }
      }
      @media only screen and (max-width: 570px) {
        &--full {
          display: none;
        }
        &--mobile {
          float: right;
          position: relative;
        }
      }
    }
  &__table {
    @media only screen and (min-width: 681px) {
      &--mobile {
        display: none;
      }
    }
    @media only screen and (max-width: 680px) {
      &--full {
        display: none;
      }
    }
  }
}
