@import "../../../global-files/scss/variables";

.ParameterChart {
  padding-top: $padding-header-for-nav;
  font-size: $font-normal-size;
  @extend %responsive-body;
}

.body {
  padding-top: $padding-header-after-nav;
  &__valueView {
    padding-top: $padding-between-elements;
  }
  &__Chart {
      width: 95%;
      display: block;
    }
}
