@import "../../../global-files/scss/signIn";
@import "../../../global-files/scss/nav";
@import "../assets/scss/navParameter";

.ParameterChart {
  padding-top: 5.5rem;
  font-size: 1.35rem;
  &__body{
    @media only screen and (min-width: 1000px) {
      width: 80%;
    }
    @media only screen and (max-width: 1000px) {
      width: 100%;
    }
    &--sendValues{
      padding-top: 4rem;
      &--label{
        width: 5.8375rem;
      }
    }
    &--valueView{
      padding-top: 2rem;
    }
    &--valueChart{
      width: 95%;
      display: block;
    }
  }
}
