<nav class="navMessage" #nav>
  <a routerLink="/doctor/messages/appointments" class="navMessage--nav-item">Terminanfragen</a>
  <a routerLink="/doctor/messages/alerts" class="navMessage--nav-item">Nachrichten</a>
</nav>
<div class="navMessage--skewRight"></div>
<div class="navMessage--skewLeft"></div>
<select class="custom-select navSecondMobile" (change)="onRoute($event.target.value)" #navMobile>
  <option value="doctor/messages/appointments">Terminanfragen</option>
  <option value="doctor/messages/alerts">Blutdruckprobleme</option>
</select>
<div class="navSecondMobile--skew"></div>