<div class="achievement" id="loginSite">
  <nav class="nav">
    <a routerLink="/patient/dashboard" class="nav--nav-item">Dashboard</a>
    <a routerLink="/patient/parameter/chart" class="nav--nav-item">Blutdruckwerte</a>
    <a routerLink="/patient/achievement" class="nav--nav-active">Herausforderungen</a>
    <a routerLink="/patient/contact/appointment" class="nav--nav-item">Kontakt</a>
    <a routerLink="/patient/user/information" class="nav--nav-item">Benutzer</a>
    <a routerLink="/home" class="nav--nav-item" (click)="onOff()">Abmelden</a>
  </nav>
  <select class="custom-select navMobile" (change)="onRoute($event.target.value)">
    <option value="patient/dashboard">Dashboard</option>
    <option value="patient/parameter/chart">Blutdruckwerte</option>
    <option value="patient/achievement" selected="selected">Herausforderungen</option>
    <option value="patient/contact/appointment">Kontakt</option>
    <option value="patient/user/information">Benutzer</option>
    <option value="home" (click)="onOff()">Abmelden</option>
  </select>
  <div class="nav--firstSkewPat"></div>
  <div class="container-fluid">
    <div class="shadow p-3 bg-white achievement__body">
      <div class="achievement__body--list">
        <p>achievement works!</p>
      </div>
    </div>
  </div>
</div>
<div class="noAccess" #noAccessSite id="noAccess">
  <div class="jumbotron shadow p-3 bg-white rounded">
    <h1>Sie haben keinen Zutritt zu diesem Teil der Seite</h1>
    <p>Bitte melden Sie sich <a routerLink="/home">hier</a> an</p>
  </div>
</div>