@import "../../global-files/scss/variables";

.achievement {
  padding-top: $padding-header-for-nav;
  font-size: $font-normal-size;
  @extend %responsive-body;
  .body {
    &__list {
      padding-top: $padding-header-after-nav;
    }
  }
}
