@import "../../global-files/scss/signIn";
@import "../../global-files/scss/nav";

.achievement {
  padding-top: 5.5rem;
  font-size: 1.35rem;
  &__body{
    @media only screen and (min-width: 1000px) {
      width: 80%;
    }
    @media only screen and (max-width: 1000px) {
      width: 100%;
    }
    &--list{
      padding-top: 2.5rem;
    }
  }
}
