<div class="parameterList" id="loginSite">
  <nav class="nav">
    <a routerLink="/patient/dashboard" class="nav--nav-item">Dashboard</a>
    <a routerLink="/patient/parameter/chart" class="nav--nav-active">Blutdruckwerte</a>
    <a routerLink="/patient/achievement" class="nav--nav-item">Herausforderungen</a>
    <a routerLink="/patient/contact/appointment" class="nav--nav-item">Kontakt</a>
    <a routerLink="/patient/user/information" class="nav--nav-item">Benutzer</a>
    <a routerLink="/home" class="nav--nav-item" (click)="onOff()">Abmelden</a>
  </nav>
  <select class="custom-select navMobile" (click)="onRoute()" #route>
    <option value="/patient/dashboard">Dashboard</option>
    <option value="/patient/parameter/chart" selected="selected">Blutdruckwerte</option>
    <option value="/patient/achievement">Herausforderungen</option>
    <option value="/patient/contact/appointment">Kontakt</option>
    <option value="/patient/user/information">Benutzer</option>
    <option value="/home" (click)="onOff()">Abmelden</option>
  </select>
  <div class="nav--firstSkewPat"></div>
  <nav class="navParameter">
    <a routerLink="/patient/parameter/chart" class="navParameter--nav-item">Chart Ansicht</a>
    <a routerLink="/patient/parameter/list" class="navParameter--nav-active">Detail Ansicht</a>
  </nav>
  <div class="navParameter--skewRight"></div>
  <div class="navParameter--skewLeft"></div>
  <select class="custom-select navSecondMobile" (click)="onRoute()" #route>
    <option value="/patient/parameter/chart">Chart Ansicht</option>
    <option value="/patient/parameter/list" selected="selected">Detail Ansicht</option>
  </select>
  <div class="navSecondMobile--skew"></div>

  <div class="container-fluid">
    <div class="shadow p-3 bg-white parameterList__body">
      <div class="parameterList__body--sendValues">
        <h2>Blutdruck eintragen</h2>
        <form class="form-inline" ngNativeValidate>
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text parameterList__body--sendValues--label" for="systole">Systole:</label>
              <input min="90" max="300" type="number" id="systole" required #systole>
            </div>
            <div class="input-group-prepend">
              <label class="input-group-text parameterList__body--sendValues--label" for="diastole">Diastole:</label>
              <input min="50" max="130" type="number" id="diastole" required #diastole>
            </div>
            <div class="input-group-prepend">
              <label class="input-group-text parameterList__body--sendValues--label" for="heartRate">Herzrate:</label>
              <input min="40" max="200" type="number" id="heartRate"required #heartRate>
            </div>
            <div class=" ">
              <button type="submit" (click)="onSend()" class="btn btn-danger">
                <fa name="heart"></fa></button>
            </div>
          </div>
        </form>
      </div>
      <div class="parameterList__body--valueList">
        <h2>Vitalparameter</h2>
        <table class="table table-hover parameterList__body--full">
          <thead>
          <tr>
            <th scope="col"><fa name="heart" class="parameterList__body--heart"></fa></th>
            <th scope="col">Datum</th>
            <th scope="col">Systole</th>
            <th scope="col">Diastole</th>
            <th scope="col">Herzrate</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of dates">
            <td><fa name="{{data.i10}}" class="parameterList__body--heart"></fa></td>
            <td>{{data.timestamp | date:'dd.MM.yyyy - HH:mm'}}</td>
            <td>{{data.systole}}</td>
            <td>{{data.diastole}}</td>
            <td>{{data.heartbeat}}</td>
          </tr>
          </tbody>
        </table>
        <table class="table table-hover parameterList__body--mobile">
          <thead>
          <tr>
            <th scope="col"><fa name="heart" class="parameterList__body--heart"></fa></th>
            <th scope="col">Datum</th>
            <th scope="col">Blutdruck</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of dates">
            <td><fa name="{{data.i10}}" class="parameterList__body--heart"></fa></td>
            <td>{{data.timestamp | date:'dd.MM - HH'}}</td>
            <td>{{data.systole}}/{{data.diastole}}/{{data.heartbeat}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="noAccess" #noAccessSite id="noAccess">
  <div class="jumbotron shadow p-3 bg-white rounded">
    <h1>Sie haben keinen Zutritt zu diesem Teil der Seite</h1>
    <p>Bitte melden Sie sich <a routerLink="/home">hier</a> an</p>
  </div>
</div>