<div class="messagePatient" id="loginSite">
  <nav class="messagePatient__navbar">
    <a routerLink="/patient/dashboard" class="messagePatient__navbar--nav-item">Dashboard</a>
    <a routerLink="/patient/appointment" class="messagePatient__navbar--nav-item">Termine</a>
    <a routerLink="/patient/parameter-chart" class="messagePatient__navbar--nav-item">Blutdruckwerte</a>
    <a routerLink="/patient/achievement" class="messagePatient__navbar--nav-item">Herausforderungen</a>
    <a routerLink="/patient/settings" class="messagePatient__navbar--nav-item">Einstellungen</a>
    <a routerLink="/home" class="messagePatient__navbar--nav-item" (click)="onOff()">Abmelden</a>
  </nav>
  <div class="messagePatient__navbar--skew"></div>
  <nav class="messagePatient__navbarSecond">
    <a routerLink="/patient/appointment/" class="messagePatient__navbarSecond--nav-item">Terminvereinbarung</a>
    <a routerLink="/patient/appointment/alert" class="messagePatient__navbarSecond--nav-item">Benachrichtigungen vom Arzt</a>
  </nav>
  <div class="messagePatient__navbarSecond--skew"></div>

  <div class="container-fluid">
    <div class="shadow p-3 bg-white messagePatient__body">
      <div class="messagePatient__body--alerts">
        <h2>Benachrichtigungen vom Arzt</h2>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Datum</th>
            <th scope="col">Nachricht</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let message of messages">
            <td></td>
            <td>{{message.timestamp | date:'dd.MM.yyyy - HH:mm'}}
            <td>{{message.text}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<<div class="noAccess" #noAccessSite id="noAccess">
  <div class="jumbotron shadow p-3 bg-white rounded">
    <h1>Sie haben keinen Zutritt zu diesem Teil der Seite</h1>
    <p>Bitte melden Sie sich <a routerLink="/home">hier</a> an</p>
  </div>
</div>