<div class="doc-body">
    <br>
    <div class="jumbotron shadow p-3 bg-white rounded">
        <h1>Willkommen Dr. {{name}}</h1>
        <p class="lead">Sie haben {{number_new_alerts}} neue Nachrichten</p>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="jumbotron shadow p-3 bg-white rounded doc-body__alert-section">
                <h1 routerLink="/doctor/messages">Nachrichten</h1>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Nachname</th>
                        <th scope="col">Vorname</th>
                        <th scope="col">Datum</th>
                        <th scope="col">Typ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let message of messages">
                        <td></td>
                        <td>{{message.last_name}}</td>
                        <td>{{message.first_name}}</td>
                        <td>{{message.date}}</td>
                        <td>{{message.type}}</td>
                    </tr>
                    </tbody>
                </table>
                <hr class="m-4">
                <button type="button" class="doc-body__alert-section--moreBtn" routerLink="/doctor/messages"
                >Alle anzeigen</button><br>
            </div>
        </div>
        <div class="col-6">
            <div class="jumbotron shadow p-3 bg-white rounded doc-body__patient-section">
                <h1 class="doc-body__patient-section--title" routerLink="/doctor/patients">Patienten</h1>
                <button type="button" class="doc-body__patient-section--addbtn" id="addBtn">Neuen Patienten anlegen</button>
                <table class="table table-hover">
                    <thead>
                    <tr><th scope="col">SV-Nummer</th>
                        <th scope="col">Nachname</th>
                        <th scope="col">Vorname</th>
                        <th scope="col">Letzter Besuch</th>
                        <th scope="col">Registriert seit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let patient of patients"
                        [class.selected]="patient === selectedPatient"
                        (click)="onSelect(patient)">
                        <td>{{patient.sv}}</td>
                        <td>{{patient.last_name}}</td>
                        <td>{{patient.first_name}}</td>
                        <td>{{patient.last_visit}}</td>
                        <td>{{patient.registered}}</td>
                    </tr>
                    </tbody>
                </table>
                <hr class="m-4">
                <button type="button" class="doc-body__patient-section--moreBtn" id="PatientMoreBtn"
                        routerLink="/doctor/patients">Alle anzeigen</button><br>
            </div>
        </div>
    </div>
</div>