<div class="doctor" id="loginSite">
    <nav class="doctor__navbar">
        <a routerLink="/doctor/dashboard" class="doctor__navbar--nav-item">Dashboard</a>
        <a routerLink="/doctor/messages" class="doctor__navbar--nav-item">Terminanfragen</a>
        <a routerLink="/doctor/alerts" class="doctor__navbar--nav-item">Blutdruckprobleme</a>
        <a routerLink="/doctor/patients" class="doctor__navbar--nav-item">Patientenübersicht</a>
        <a routerLink="/doctor/settings" class="doctor__navbar--nav-item">Einstellungen</a>
        <a routerLink="/home" class="doctor__navbar--nav-item" (click)="onOff()">Abmelden</a>
    </nav>
    <div class="doctor__navbar--skew"></div>
    <div class="container-fluid">
        <div class="doctor__welcome-section jumbotron shadow p-3 rounded">
            <div class="row">
                <div class="col-6">
                    <h1>Willkommen Dr. {{name}}</h1>
                    <p>Sie haben <a class="doctor__welcome-section--messageCount" routerLink="/patient/appointment/alert"
                                    ></a></p>
                    <p>und <a class="doctor__welcome-section--alertCount" routerLink="/patient/appointment/alert"
                                    ></a></p>
                </div>
                <div class="col-6">
                    <div class="doctor__welcome-section--card">
                        <img src="/assets/card-doctor.png" alt="avatar" class="doctor__welcome-section--avatar">
                    </div>
                    <div class="doctor__welcome-section--dayCount">
                    </div>
                </div>
            </div>
        </div>

        <div class="shadow p-3 bg-white doctor__body">
            <div class="doctor__body--alerts">
                <h2>Alerts</h2>
            </div>
            <div class="doctor__body--appointment">
                <h2>Termine</h2>
            </div>
            <div class="doctor__body--newPatients">
                <h2>Die 5 neuesten Patienten</h2>
            </div>
        </div>
    </div>
</div>
<div class="noAccess" id="noAccess">
    <div class="jumbotron shadow p-3 bg-white rounded">
        <h1>Sie haben keinen Zutritt zu diesem Teil der Seite</h1>
        <p>Bitte melden Sie sich <a routerLink="/home">hier</a> an</p>
    </div>
</div>