.doc-body{
  padding-top: 9rem;
  &__navigation4doc{
    position: fixed;
    background-color: #B2101D;
    width: 100%;
    z-index: 9;
  }
  &__alert-section{
    &--moreBtn{
      float:right;
    }
  }
  &__patient-section{
    &--title{
      float: left;
    }
    &--addbtn{
      float: right;
    }
    &--moreBtn{
      float: right;
    }
  }
}