<div class="record" id="loginSite">
  <nav class="record__navbar">
    <a routerLink="/doctor/dashboard" class="record__navbar--nav-item">Dashboard</a>
    <a routerLink="/doctor/messages" class="record__navbar--nav-item">Nachrichten</a>
    <a routerLink="/doctor/patients" class="record__navbar--nav-active">Patienten</a>
    <a routerLink="/doctor/settings" class="record__navbar--nav-item">Einstellungen</a>
    <a routerLink="/home" class="record__navbar--nav-item" (click)="onOff()">Abmelden</a>
  </nav>
  <nav class="record__navbarSecond">
    <a routerLink="/doctor/patients" class="record__navbarSecond--nav-item">Übersicht</a>
    <a routerLink="/doctor/patients/record/:sv" class="record__navbarSecond--nav-active">Patienten-Akt</a>
  </nav>
  <div class="record__navbarSecond--skewRight"></div>
  <div class="record__navbarSecond--skewLeft"></div>
  <div class="record__navbar--skew"></div>

  <div class="container-fluid">
    <div class="shadow p-3 bg-white record__body">
      <div class="record__noSelectedPatient" id="noSelectedPatient">
        <h2>Leider ist kein Patient ausgewählt</h2>
        <p>Um einen Patienten auszuwählen bitte <a routerLink="/doctor/patients">hier</a> klicken</p>
      </div>

      <div class="record__selectedPatient" id="selectedPatient">
        <div class="record__selectedPatient--record" id="information">
          <h2>Akt von {{selectedPatient.last_name | uppercase}} {{selectedPatient.first_name}}:</h2>
          <hr class="m-4">
            <div class="row">
              <div class="col-2">
                <span class="record__selectedPatient--label">SV-Nummer:</span><br>
                <span>{{selectedPatient.sv}}</span>
              </div>
              <div class="col-2">
                <span class="record__selectedPatient--label">Alter:</span><br>
                <span>{{selectedPatient.age}}</span>
              </div>
              <div class="col-2">
                <span class="record__selectedPatient--label">Geschlecht:</span><br>
                <span>{{selectedPatient.gender}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <span class="record__selectedPatient--label">Registriert seit:</span><br>
                <span>{{selectedPatient.registered | date:'dd.MM.yyyy'}}</span>
              </div>
              <div class="col-2">
                <span class="record__selectedPatient--label">Letzter Besuch:</span><br>
                <span>{{selectedPatient.last_visit | date:'dd.MM.yyyy'}}</span>
              </div>
              <div class="col-2">
                <input type="button" value="Patient war hier" class="btn btn-danger record__selectedPatient--btn"
                       (click)="onHere(selectedPatient)">
              </div>
            </div>
        </div>
        <div class="record__selectedPatient--meds">
          <h3>Medikation:</h3>
          <h4>Neues Medikation hinzufügen:</h4>
          <form ngNativeValidate>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="medikament">Medikament:</label>
              </div>
              <input type="text" id="medikament" #med required class="record__selectedPatient--newMed">
              <div class="input-group-prepend">
                <label class="input-group-text" for="intervall">Intervall:</label>
              </div>
              <input type="text" id="intervall" #intervall required class="record__selectedPatient--newMed"
                     pattern='[0-9][-][0-9][-][0-9][-][0-9]'>
              <input type="submit" value="Speichern" (click)="onSend()" class="btn btn-danger">
            </div>
          </form>
          <div class="record__selectedPatient--medList">
          <h4>Derzeitige Medikation:</h4>
          <div id="currentMed">
            <ul>
              <li *ngFor="let currentMed of currentMeds">
                <div id="{{currentMed.medication}}-form" style="Display: none;">
                  <form ngNativeValidat>
                <input type="text" value="{{currentMed.medication}}" class="form" required>
                <span> </span>
                <input type="text" value="{{currentMed.intervall}}" class="form" required>
                  <fa class="record__selectedPatient--edit" name="check" (click)="onSave(currentMed)"></fa>
                  </form>
                </div>
                <div id="{{currentMed.medication}}">
                <span>{{currentMed.medication}} {{currentMed.intervall}}
                  seit {{currentMed.timestampFrom | date:'dd.MM.yyyy'}}</span>
                <fa class="record__selectedPatient--edit" name="pencil" (click)="onEdit(currentMed)"></fa>
                <fa class="record__selectedPatient--delete" name="trash" (click)="onDelete(currentMed)"></fa>
                </div>
              </li>
            </ul>
          </div>
          </div>
          <div class="record__selectedPatient--medList">
          <h4>Bereits probierte Medikammente:</h4>
          <div id="usedMed">
            <ul>
              <li *ngFor="let usedMed of usedMeds">
                  <span>{{usedMed.medication}} von {{usedMed.timestampFrom | date:'dd.MM.yyyy'}} bis
                    {{usedMed.timestampTo | date:'dd.MM.yyyy'}}</span>
              </li>
            </ul>
          </div>
          </div>
        </div>
        <div class="record__selectedPatient--chart">
          <h3>Blutdruckwerte des Patienten:</h3>
          <highcharts-chart
                  [Highcharts]="Highcharts"
                  [options]="chartOptions"
                  class="record__selectedPatient--valueChart"
          ></highcharts-chart>
        </div>
      </div>

      <div class="record__newPatient" id="newPatient">
        <h2>Neuer Patient:</h2>
        <form ngNativeValidate>
          <div class="form-row">
            <div class="col-3">
              <label class="record__newPatient--fielset-label">Vorname:</label>
              <input name="svFrom" type="text" class="form-control" #first_name required pattern="[A-Za-z]">
            </div>
            <div class="col-3">
              <label class="record__newPatient--fielset-label">Nachname: </label>
              <input name="age" type="text" class="form-control" #last_name required pattern="[A-Za-z]">
            </div>
          </div>
          <div class="form-row">
            <div class="col-2">
              <label class="record__newPatient--label">SV-Nummer:</label>
              <input name="svFrom" type="text" class="form-control" #svnr required pattern='[0-9]{10}'>
            </div>
            <div class="col-1">
              <label class="record__newPatient--label">Alter: </label>
              <input name="age" type="number" class="form-control" #age required min="14" max="120">
            </div>
            <div class="col-3">
              <label class="record__newPatient--label">Geschlecht:</label>
              <select class="form-control" #gender>
                <option value="m">männlich</option>
                <option value="w">weiblich</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col-6">
              <input type="submit" value="Akt anlegen" class="btn btn-danger record__newPatient--btn"
                     (click)="onSavePatient()">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="noAccess" id="noAccess">
  <div class="jumbotron shadow p-3 bg-white rounded">
    <h1>Sie haben keinen Zutritt zu diesem Teil der Seite</h1>
    <p>Bitte melden Sie sich <a routerLink="/home">hier</a> an</p>
  </div>
</div>
