<div class="information" id="loginSite">
    <app-navbar-patients></app-navbar-patients>
    <app-navbar-user-patient></app-navbar-user-patient>
    <div class="container-fluid">
        <div class="shadow p-3 bg-white">
            <div class="body">
                <app-user-information></app-user-information>
                <div class="row body__general--span">
                    <span class="body__general--label body__general--header">Ausgewählter Arzt:</span>
                    <p>{{doc}}</p>
                </div>
                <span class="body__general--header">Ordinations Adresse:</span>
                <p>{{openhours.address}}</p>
                <span class="body__general--header">Medikation:</span>
                <span class="body__general--header">Derzeitige Medikation</span>
                <div id="currentMed" class="row body__general--span">
                    <ul>
                        <li *ngFor="let currentMed of currentMeds">
                <span>{{currentMed.medication}} {{currentMed.intervall}}
                  seit {{currentMed.timestampFrom | date:'dd.MM.yyyy'}}</span>
                        </li>
                    </ul>
                </div>
                <span class="body__general--header">Bereits probierte Medikamente</span>
                <div id="usedMed" class="row body__general--span">
                    <ul>
                        <li *ngFor="let usedMed of usedMeds">
                  <span>{{usedMed.medication}} von {{usedMed.timestampFrom | date:'dd.MM.yyyy'}} bis
                    {{usedMed.timestampTo | date:'dd.MM.yyyy'}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<app-no-access></app-no-access>