<nav class="navContact" #nav>
    <a routerLink="/patient/contact/appointment" class="navContact--nav-item">Termin</a>
    <a routerLink="/patient/contact/alert" class="navContact--nav-item">Nachrichten</a>
</nav>
<div class="navContact__skewRight"></div>
<div class="navContact__skewLeft"></div>
<select class="custom-select navSecondMobile" (change)="onRoute($event.target.value)" #navMobile>
    <option value="patient/contact/appointment">Termin</option>
    <option value="patient/contact/alert">Nachrichten</option>
</select>
<div class="navSecondMobile__skew"></div>