<h2>Allgemeine Kontoinformationen</h2>
<div class="row information--span">
    <span class="information--label">Sozialversicherungs-Nummer:</span>
    <p>{{user.sv}}</p>
</div>
<div class="row">
    <div class="col-sm-2 col-12">
        <span class="information--label">Vorname:</span>
        <p>{{user.first_name}}</p>
    </div>
    <div class="col-sm-2 col-12">
        <span class="information--label">Nachname:</span>
        <p>{{user.last_name}}</p>
    </div>
</div>
<div class="row information--span">
    <span class="information--label">Angemeldet seit:</span>
    <p>{{user.registered}}</p>
</div>
<div class="row information--span">
    <span class="information--label">Email Adresse:</span>
    <p>{{user.email}}</p>
</div>