<span class="information--header">Allgemeine Kontoinformationen</span>
<div class="row information--span">
    <span class="information--label information--header">Sozialversicherungs-Nummer:</span>
    <p>{{user.sv}}</p>
</div>
<div class="row">
    <div class="col-sm-2 col-12">
        <span class="information--label information--header">Vorname:</span>
        <p>{{user.first_name}}</p>
    </div>
    <div class="col-sm-2 col-12">
        <span class="information--label information--header">Nachname:</span>
        <p>{{user.last_name}}</p>
    </div>
</div>
<div class="row information--span">
    <span class="information--label information--header">Angemeldet seit:</span>
    <p>{{user.registered | date:'dd.MM.yyyy'}}</p>
</div>
<div class="row information--span">
    <span class="information--label information--header">Email Adresse:</span>
    <p>{{user.email}}</p>
</div>