<div class="appointmentPatient" id="loginSite">
  <nav class="appointmentPatient__navbar">
    <a routerLink="/patient/dashboard" class="appointmentPatient__navbar--nav-item">Dashboard</a>
    <a routerLink="/patient/appointment" class="appointmentPatient__navbar--nav-item">Termine</a>
    <a routerLink="/patient/parameter-chart" class="appointmentPatient__navbar--nav-item">Blutdruckwerte</a>
    <a routerLink="/patient/achievement" class="appointmentPatient__navbar--nav-item">Herausforderungen</a>
    <a routerLink="/patient/settings" class="appointmentPatient__navbar--nav-item">Einstellungen</a>
    <a routerLink="/home" class="appointmentPatient__navbar--nav-item" (click)="onOff()">Abmelden</a>
  </nav>
  <div class="appointmentPatient__navbar--skew"></div>
  <nav class="appointmentPatient__navbarSecond">
    <a routerLink="/patient/appointment/" class="appointmentPatient__navbarSecond--nav-item">Terminvereinbarung</a>
    <a routerLink="/patient/appointment/alert" class="appointmentPatient__navbarSecond--nav-item">Benachrichtigungen vom Arzt</a>
  </nav>
  <div class="appointmentPatient__navbarSecond--skew"></div>
  <div class="container-fluid">
    <div class="shadow p-3 bg-white appointmentPatient__body">
      <div class="appointmentPatient__body--appointment">
        <h2>Terminvereinbarung</h2>
        <form ngNativeValidate>
          <div class="form-group">
              <label for="date">Datum: </label>
              <input type="date" id="date" class="form-control" required #date>
          </div>
          <div class="form-group">
              <label for="time">Uhrzeit: </label>
              <input type="time" min="8:00" max="16:00" step="00:30" id="time" class="form-control" required #time>
          </div>
          <div class="form-group">
              <label for="type">Grund des Termins: </label>
              <select required id="type" class="form-control" #type>
                <option value="Neueinstellung">Neueinstellung der Medikamente</option>
                <option value="Kontrolltermin">Kontrolltermin für den Blutdruck</option>
                <option value="Gesundheitscheck">Gesundheitscheck</option>
              </select>
          </div>
          <div class="form-group">
              <input type="submit" value="Absenden" class="form-control btn btn-danger" (click)="onSend()">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="noAccess" #noAccessSite id="noAccess">
  <div class="jumbotron shadow p-3 bg-white rounded">
    <h1>Sie haben keinen Zutritt zu diesem Teil der Seite</h1>
    <p>Bitte melden Sie sich <a routerLink="/home">hier</a> an</p>
  </div>
</div>