<nav class="navPatients" #nav>
    <a routerLink="/doctor/patients/list" class="navPatients--nav-item">Übersicht</a>
    <a routerLink="/doctor/patients/record/:sv" class="navPatients--nav-item">Patienten-Akt</a>
</nav>
<div class="navPatients__skewRight"></div>
<div class="navPatients__skewLeft"></div>
<select class="custom-select navSecondMobile" (change)="onRoute($event.target.value)" #navMobile>
    <option value="doctor/patients/list">Übersicht</option>
    <option value="doctor/patients/record/:sv">Patienten-Akt</option>
</select>
<div class="navSecondMobile__skew"></div>