.messagelist-view{
  padding-top: 9rem;
  &__navigation4doc{
    position: fixed;
    background-color: #B2101D;
    width: 100%;
  }
  &__general-section{
    &--title{
    }
    &--counter{
    }
  }
}