<div class="container-fluid">
<div class="messagelist-view">
  <div class="jumbotron shadow p-3 mb-5 bg-white rounded messagelist-view--general-section">
    <h1 class="messagelist-view__general-section--title" >Nachrichten</h1>
    <span class="messagelist-view__general-section--counter">Anzahl an Nachrichten: {{messageCount}}</span>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">SV-Nummer</th>
        <th scope="col">Nachname</th>
        <th scope="col">Vorname</th>
        <th scope="col">Datum</th>
        <th scope="col">Zeit</th>
        <th scope="col">Typ</th>
        <th scope="col">Nachricht</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let message of messages">
        <td></td>
        <td>{{message.sv}}</td>
        <td>{{message.last_name}}</td>
        <td>{{message.first_name}}</td>
        <td>{{message.date}}</td>
        <td>{{message.time}}</td>
        <td>{{message.type}}</td>
        <td>{{message.text}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>