@import "../../../global-files/scss/variables";

.messageDoctor {
  padding-top: $padding-header-for-nav;
  font-size: $font-normal-size;
  @extend %responsive-body;
}

.body {
    &--messageList {
      padding-top: $padding-header-after-nav;
    }
  &__table {
    &--check {
      color: green;
    }
    &--times {
      color: red;
      margin-left: 1rem;
    }
    @media only screen and (min-width: 600px) {
      &--mobile {
        display: none;
      }
    }
    @media only screen and (max-width: 600px) {
      &--mobile {
        font-size: 0.75rem;
      }
      &--full {
        display: none;
      }
    }
  }
}

.noRequest {
  color: $rrp-primary-color;
  font-weight: bold;
}