<div class="messageDoctor" id="loginSite">
  <nav class="messageDoctor__navbar">
    <a routerLink="/doctor/dashboard" class="messageDoctor__navbar--nav-item">Dashboard</a>
    <a routerLink="/doctor/messages/appointments" class="messageDoctor__navbar--nav-active">Nachrichten</a>
    <a routerLink="/doctor/patients/list" class="messageDoctor__navbar--nav-item">Patienten</a>
    <a routerLink="/doctor/user/information" class="messageDoctor__navbar--nav-item">Benutzer</a>
    <a routerLink="/home" class="messageDoctor__navbar--nav-item" (click)="onOff()">Abmelden</a>
  </nav>
  <nav class="messageDoctor__navbarSecond">
  <a routerLink="/doctor/messages/appointments" class="messageDoctor__navbarSecond--nav-active">Terminanfragen</a>
  <a routerLink="/doctor/messages/alerts" class="messageDoctor__navbarSecond--nav-item">Blutdruckprobleme</a>
  </nav>
  <div class="messageDoctor__navbarSecond--skewRight"></div>
  <div class="messageDoctor__navbarSecond--skewLeft"></div>
  <div class="messageDoctor__navbar--skew"></div>

  <div class="container-fluid">
    <div class="shadow p-3 bg-white messageDoctor__body">
      <div class="messageDoctor__body--messageList">
        <h2>Terminanfragen</h2>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col"><fa name="bell"></fa></th>
            <th scope="col">Erhalten am:</th>
            <th scope="col">Name</th>
            <th scope="col">Text</th>
            <th scope="col">Aktion</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let message of messages">
            <td (click)="onSelect(message.svFrom)"><fa name="{{message.seen}}"></fa></td>
            <td (click)="onSelect(message.svFrom)">{{message.timestamp | date:'dd.MM.yyyy'}}</td>
            <td (click)="onSelect(message.svFrom)">{{message.last_name}} {{message.first_name}}</td>
            <td (click)="onSelect(message.svFrom)">{{message.text}}</td>
            <td>
                <fa name="{{message.check}}" class="messageDoctor__body--check" (click)="onAccept(message)"></fa>
                <fa name="{{message.times}}" class="messageDoctor__body--times" (click)="onDenied(message)"></fa>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="noAccess" id="noAccess">
  <div class="jumbotron shadow p-3 bg-white rounded">
    <h1>Sie haben keinen Zutritt zu diesem Teil der Seite</h1>
    <p>Bitte melden Sie sich <a routerLink="/home">hier</a> an</p>
  </div>
</div>