.messageDoctor {
  padding-top: 5.5rem;
  font-size: 1rem;
  &__body {
    @media only screen and (min-width: 1000px) {
      width: 80%;
    }
    @media only screen and (max-width: 1000px) {
      width: 100%;
    }
    &--messageList {
      padding-top: 4rem;
    }
    &--check{
      color: green;
    }
    &--times{
      color: red;
      margin-left: 1rem;
    }
    &--tableItem{
      display: none;
    }
  }
  &__table {
    width: 70%;
    @media only screen and (min-width: 600px) {
      &--mobile {
        display: none;
      }
      &--full {
        display: block;
      }
    }
    @media only screen and (max-width: 600px) {
      font-size: 0.5rem;
      &--mobile {
        display: block;
        font-size: 0.75rem;
      }
      &--full {
        display: none;
      }
    }
  }
}
