<div class="messagePatient" id="loginSite">
  <app-navbar-patients></app-navbar-patients>
  <app-navbar-contact></app-navbar-contact>
  <div class="container-fluid">
    <div class="shadow p-3 bg-white messagePatient__body">
      <div class="messagePatient__body--alerts">
        <h2>Benachrichtigungen vom Arzt</h2>
        <table class="table table-hover messagePatient__body--table">
          <thead>
          <tr>
            <th scope="col">
              <fa name="bell"></fa>
            </th>
            <th scope="col">Datum</th>
            <th scope="col">Nachricht</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let message of messages"
              (click)="onSeen(message)">
            <td>
              <fa name="{{message.seen}}"></fa>
            </td>
            <td>{{message.timestamp | date:'dd.MM.yyyy'}}
            <td>{{message.text}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-no-access></app-no-access>