@import "../../../global-files/scss/variables";

.messagePatient {
  padding-top: $padding-header-for-nav;
  font-size: $font-normal-size;
  @extend %responsive-body;
}

.body {
  &__alerts {
    padding-top: $padding-header-after-nav;
  }
}
