<div class="messagePatient" id="loginSite">
  <nav class="messagePatient__navbar">
    <a routerLink="/patient/dashboard" class="messagePatient__navbar--nav-item">Dashboard</a>
    <a routerLink="/patient/parameter/chart" class="messagePatient__navbar--nav-item">Blutdruckwerte</a>
    <a routerLink="/patient/achievement" class="messagePatient__navbar--nav-item">Herausforderungen</a>
    <a routerLink="/patient/contact/appointment" class="messagePatient__navbar--nav-active">Kontakt</a>
    <a routerLink="/patient/user/information" class="messagePatient__navbar--nav-item">Benutzer</a>
    <a routerLink="/home" class="messagePatient__navbar--nav-item" (click)="onOff()">Abmelden</a>
  </nav>
  <div class="messagePatient__navbar--skew"></div>
  <nav class="messagePatient__navbarSecond">
    <a routerLink="/patient/contact/appointment" class="messagePatient__navbarSecond--nav-item">Termin</a>
    <a routerLink="/patient/contact/alert" class="messagePatient__navbarSecond--nav-active">Nachrichten</a>
  </nav>
  <div class="messagePatient__navbarSecond--skewRight"></div>
  <div class="messagePatient__navbarSecond--skewLeft"></div>

  <div class="container-fluid">
    <div class="shadow p-3 bg-white messagePatient__body">
      <div class="messagePatient__body--alerts">
        <h2>Benachrichtigungen vom Arzt</h2>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col"><fa name="bell"></fa></th>
            <th scope="col">Datum</th>
            <th scope="col">Nachricht</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let message of messages"
              (click)="onSeen(message)">
            <td><fa name="{{message.seen}}"></fa></td>
            <td>{{message.timestamp | date:'dd.MM.yyyy'}}
            <td>{{message.text}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<<div class="noAccess" #noAccessSite id="noAccess">
  <div class="jumbotron shadow p-3 bg-white rounded">
    <h1>Sie haben keinen Zutritt zu diesem Teil der Seite</h1>
    <p>Bitte melden Sie sich <a routerLink="/home">hier</a> an</p>
  </div>
</div>