.index-header {
  background-color: #B2101D;
  position: fixed;
  width: 100%;
  z-index: 9;
  &__title-md {
    color: #FFFFFF;
    font-size: 4rem;
    margin-left: 1rem;
    @media only screen and (min-width: 600px) {
      display: none;
    }
    @media only screen and (max-width: 600px) {
      display: block;
    }
  }
  &__title {
    color: #FFFFFF;
    font-size: 4rem;
    margin-left: 1rem;
    @media only screen and (max-width: 600px) {
      display: none;
    }
    @media only screen and (min-width: 600px) {
      display: block;
    }
  }
  &__logo {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    height: 4rem;
    float: right;
  }
}