<header class="index-header shadow-sm">
  <div class="container-fluid">
  <div class="row">
    <div class="col-9">
      <h1 class="index-header__title">{{ title }}</h1>
      <!--<div class="index-header__LogIn-form">
        <form class="form-inline">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="username">S<span class="sr-only">ozial</span>
                V<span class="sr-only">ersicherungs</span>-Nummer:</label>
            </div>
            <input required minlength="10" type="text" id="username">
            <div class="input-group-prepend">
              <label class="input-group-text"  for="user-password">Passwort:</label>
            </div>
            <input type="password" id="user-password">
            <input type="submit" value="Log In">
          </div>
        </form>
      </div> -->
      <div class="index-header__LogOut-form">
        <form>
          <button class="index-header__LogOut-form btn-light">Abmelden</button>
        </form>
      </div>
    </div>
    <div class="col-3">
        <img class="index-header__logo" src="/assets/RRP_Logo.png" alt="Logo">
    </div>
  </div>
  </div>
</header>
<div class="container-fluid">
<app-doc-view></app-doc-view>
</div>
