@import "global-files/scss/variables";

.index-header {
  background-color: $rrp-primary-color;
  position: fixed;
  width: 100%;
  z-index: 9;
  color: $rrp-inverse-color;
  padding-left: 1rem;
  &__title-md {
    font-size: 4rem;
    @media only screen and (min-width: 601px) {
      display: none;
    }
    @media only screen and (max-width: 600px) {
      display: block;
    }
  }
  &__title {
    font-size: 4rem;
    @media only screen and (max-width: 600px) {
      display: none;
    }
    @media only screen and (min-width: 601px) {
      display: block;
    }
  }
  &__logo {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    height: 4rem;
    float: right;
  }
}