<header class="index-header shadow-sm">
  <img class="index-header__logo" src="/assets/RRP_Logo.png" alt="Logo">
  <h1 class="index-header__title">{{ title }}</h1>
  <!--<div class="index-header__LogIn-form">
    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text" for="username">S<span class="sr-only">ozial</span>
            V<span class="sr-only">ersicherungs</span>-Nummer:</label>
        </div>
        <input required minlength="10" type="text" id="username">
        <div class="input-group-prepend">
          <label class="input-group-text"  for="user-password">Passwort:</label>
        </div>
        <input type="password" id="user-password">
        <input type="submit" value="Log In">
      </div>
    </form>
  </div> -->
  <div class="index-header__navigation4doc">
    <nav>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a routerLink="/doctor/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a routerLink="/doctor/messages">Nachrichten</a>
        </li>
        <li class="nav-item">
          <a routerLink="/doctor/patients">Patientenübersicht</a>
        </li>
        <li class="nav-item">
          <a routerLink="/home">Abmelden</a>
        </li>
      </ul>
    </nav>
  </div>
  <!--<div class="index-header__navigation4patient">
    <nav>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a routerLink="/patient/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a routerLink="/patient/alerts">Nachrichten</a>
        </li>
        <li class="nav-item">
          <a routerLink="/patient/parameter">Blutdruckwerte</a>
        </li>
        <li class="nav-item">
          <a routerLink="/home">Abmelden</a>
        </li>
      </ul>
    </nav>
  </div>-->
</header>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
