<div class="alertDoctor" id="loginSite">
  <nav class="alertDoctor__navbar">
    <a routerLink="/doctor/dashboard" class="alertDoctor__navbar--nav-item">Dashboard</a>
    <a routerLink="/doctor/messages" class="alertDoctor__navbar--nav-item">Terminanfragen</a>
    <a routerLink="/doctor/alerts" class="alertDoctor__navbar--nav-item">Blutdruckprobleme</a>
    <a routerLink="/doctor/patients" class="alertDoctor__navbar--nav-item">Patientenübersicht</a>
    <a routerLink="/doctor/settings" class="alertDoctor__navbar--nav-item">Einstellungen</a>
    <a routerLink="/home" class="alertDoctor__navbar--nav-item" (click)="onOff()">Abmelden</a>
  </nav>
  <div class="alertDoctor__navbar--skew"></div>
  <div class="container-fluid">
    <div class="shadow p-3 bg-white alertDoctor__body">
      <div class="alertDoctor__body--alertList">
        <h2>Alerts</h2>
      </div>
    </div>
  </div>
</div>
<div class="noAccess" id="noAccess">
  <div class="jumbotron shadow p-3 bg-white rounded">
    <h1>Sie haben keinen Zutritt zu diesem Teil der Seite</h1>
    <p>Bitte melden Sie sich <a routerLink="/home">hier</a> an</p>
  </div>
</div>