<h3>Derzeitige Medikation</h3>
<div class="row information--span">
  <ul>
    <li *ngFor="let currentMed of currentMeds">
                <span>{{currentMed.medication}} {{currentMed.intervall}}
                  seit {{currentMed.timestampFrom | date:'dd.MM.yyyy'}}</span>
    </li>
  </ul>
</div>
<h3>Bereits probierte Medikamente</h3>
<div class="row information--span">
  <ul>
    <li *ngFor="let usedMed of usedMeds">
                  <span>{{usedMed.medication}} von {{usedMed.timestampFrom | date:'dd.MM.yyyy'}} bis
                    {{usedMed.timestampTo | date:'dd.MM.yyyy'}}</span>
    </li>
  </ul>
</div>