<nav class="navUsers" #nav>
    <a routerLink="/doctor/user/information" class="navUsers--nav-item">Informationen</a>
    <a routerLink="/doctor/user/settings" class="navUsers--nav-item">Einstellungen</a>
</nav>
<div class="navUsers__skewRight"></div>
<div class="navUsers__skewLeft"></div>
<select class="custom-select navSecondMobile" (change)="onRoute($event.target.value)" #navMobile>
    <option value="doctor/user/information">Informationen</option>
    <option value="doctor/user/settings">Einstellungen</option>
</select>
<div class="navSecondMobile__skew"></div>