@import "../../../../../global-files/scss/nav";
@import "../../../../../global-files/scss/variables";

.navUsers {
  font-family: Arial;
  left: 18.4rem;
  margin-top: 2.4rem;
  position: fixed;
  z-index: 9;
  height: 2.5rem;
  background-color: $rrp-primary-color;
  @media only screen and (min-width: 921px) {
    display: block;
    &__skewRight {
      margin-left: 39.75rem;
      margin-top: 2.4rem;
      width: 0;
      height: 0;
      border-top: 2.5rem solid $rrp-primary-color;
      border-right: 2.5rem solid transparent;
      display: block;
      position: fixed;
      z-index: 9;
    }
    &__skewLeft {
      margin-left: 15.9rem;
      margin-top: 2.4rem;
      width: 0;
      height: 0;
      border-top: 2.5rem solid $rrp-primary-color;
      border-left: 2.5rem solid transparent;
      display: block;
      position: fixed;
      z-index: 9;
    }
  }
  @media only screen and (max-width: 920px) {
    display: none;
  }
  &--nav-item {
    font-size: 1.5rem;
    color: $rrp-inverse-color;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  &--nav-active {
    font-size: 1.5rem;
    color: $rrp-primary-color;
    padding: 0.3rem 0.75rem 0.32rem 0.75rem;
    background-color: $rrp-inverse-color;
    border: 0.1rem solid $rrp-primary-color;
    border-top: 0rem;
  }
}