<div class="parameterList" id="loginSite">
  <nav class="parameterList__navbar">
    <a routerLink="/patient/dashboard" class="parameterList__navbar--nav-item">Dashboard</a>
    <a routerLink="/patient/appointment" class="parameterList__navbar--nav-item">Termine</a>
    <a routerLink="/patient/parameter-chart" class="parameterList__navbar--nav-item">Blutdruckwerte</a>
    <a routerLink="/patient/achievement" class="parameterList__navbar--nav-item">Herausforderungen</a>
    <a routerLink="/patient/settings" class="parameterList__navbar--nav-item">Einstellungen</a>
    <a routerLink="/home" class="parameterList__navbar--nav-item" (click)="onOff()">Abmelden</a>
  </nav>
  <div class="parameterList__navbar--skew"></div>
  <nav class="parameterList__navbarSecond">
    <a routerLink="/patient/parameter-chart" class="parameterList__navbarSecond--nav-item">Chart Anischt</a>
    <a routerLink="/patient/parameter-chart/list" class="parameterList__navbarSecond--nav-item">Deatil Ansicht</a>
  </nav>
  <div class="parameterList__navbarSecond--skew"></div>

  <div class="container-fluid">
    <div class="shadow p-3 bg-white parameterList__body">
      <div class="parameterList__body--sendValues">
        <h2>Blutdruck eintragen</h2>
        <form ngNativeValidate>
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="systole">Systole:</label>
            </div>
            <input min="90" max="300" type="number" id="systole" required #systole>
            <div class="input-group-prepend">
              <label class="input-group-text" for="diastole">Diastole:</label>
            </div>
            <input min="50" max="130" type="number" id="diastole" required #diastole>
            <div class="input-group-prepend">
              <label class="input-group-text" for="heartRate">Herzrate:</label>
            </div>
            <input min="40" max="200" type="number" id="heartRate" required #heartRate>
            <input type="submit" value="Absenden" (click)="onSend()" class="btn btn-danger">
          </div>
        </form>
      </div>
      <div class="parameterList__body--valueList">
        <h2>Vitalparameter</h2>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Datum</th>
            <th scope="col">Systole</th>
            <th scope="col">Diastole</th>
            <th scope="col">Herzrate</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of dates">
            <td>{{data.timestamp | date:'dd.MM.yyyy - HH:mm'}}</td>
            <td>{{data.systole}}</td>
            <td>{{data.diastole}}</td>
            <td>{{data.heartbeat}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="noAccess" #noAccessSite id="noAccess">
  <div class="jumbotron shadow p-3 bg-white rounded">
    <h1>Sie haben keinen Zutritt zu diesem Teil der Seite</h1>
    <p>Bitte melden Sie sich <a routerLink="/home">hier</a> an</p>
  </div>
</div>