@import "/variables";

.navMobile {
  @media only screen and (min-width: 921px) {
    display: none;
  }
  @media only screen and (max-width: 920px) {
    display: block;
  }
  position: fixed;
  z-index: 9;
  height: 2.5rem;
  border-radius: 0rem;
  background-color: $rrp-inverse-color;
  font-size: 1.5rem;
  color: $rrp-primary-color;
  width: 15rem;
  padding: 0rem 0.75rem 0rem 0.75rem;
  border: 0.1rem solid $rrp-primary-color;
}

.navSecondMobile {
  @media only screen and (min-width: 921px) {
    display: none;
  }
  @media only screen and (max-width: 920px) {
    display: block;
    margin-top: 2.4rem;
    position: fixed;
    z-index: 9;
    height: 2.5rem;
    border-radius: 0rem;
    background-color: $rrp-inverse-color;
    font-size: 1.5rem;
    color: $rrp-primary-color;
    width: 12.5rem;
    padding: 0rem 0.75rem 0rem 0.75rem;
    border: 0.1rem solid $rrp-primary-color;
    &__skew {
      margin-left: 12.5rem;
      margin-top: 2.4rem;
      width: 0;
      height: 0;
      border-top: 2.5rem solid $rrp-primary-color;
      border-right: 2.5rem solid transparent;
      display: block;
      position: fixed;
      z-index: 9;
    }
  }
}

.nav {
  font-family: Arial;
  position: fixed;
  z-index: 9;
  height: 2.5rem;
  &--nav-item {
    @media only screen and (max-width: 920px) {
      display: none;
    }
    @media only screen and (min-width: 921px) {
      display: block;
    }
    font-size: 1.5rem;
    color: $rrp-inverse-color;
    background-color: $rrp-primary-color;
    padding: 0rem 0.75rem 0rem 0.75rem;
  }
  &--nav-active {
    @media only screen and (max-width: 920px) {
      display: none;
    }
    @media only screen and (min-width: 921px) {
      display: block;
    }
    font-size: 1.5rem;
    color: $rrp-primary-color;
    padding: 0rem 0.75rem 0rem 0.75rem;
    background-color: $rrp-inverse-color;
    border: 0.1rem solid $rrp-primary-color;
  }
}

a:not([href]):not([tabindex]) {
  color: $rrp-inverse-color;
  cursor: pointer;
}

a:not([href]):not([tabindex]):hover {
  text-decoration: underline;
}
