.navMobile{
  @media only screen and (min-width: 921px) {
    display: none;
  }
  @media only screen and (max-width: 920px) {
    display: block;
  }
  position: fixed;
  z-index: 9;
  height: 2.5rem;
  border-radius: 0rem;
  background-color: #FFFFFF;;
  font-size: 1.5rem;
  color: #B2101D;
  width: 15rem;
  padding: 0rem 0.75rem 0rem 0.75rem;
  border: 0.1rem solid  #B2101D;
}
.navSecondMobile{
  @media only screen and (min-width: 921px) {
    display: none;
  }
  @media only screen and (max-width: 920px) {
    display: block;
    margin-top: 2.4rem;
    position: fixed;
    z-index: 9;
    height: 2.5rem;
    border-radius: 0rem;
    background-color: #FFFFFF;;
    font-size: 1.5rem;
    color: #B2101D;
    width: 12.5rem;
    padding: 0rem 0.75rem 0rem 0.75rem;
    border: 0.1rem solid  #B2101D;
    &--skew{
      margin-left: 12.5rem;
      margin-top: 2.4rem;
      width: 0;
      height: 0;
      border-top: 2.5rem solid #B2101D;
      border-right: 2.5rem solid transparent;
      display: block;
      position: fixed;
      z-index: 9;
    }
  }
}
.nav {
  position: fixed;
  z-index: 9;
  height: 2.5rem;
  &--nav-item {
    @media only screen and (max-width: 920px) {
      display: none;
    }
    @media only screen and (min-width: 921px) {
      display: block;
    }
    font-size: 1.5rem;
    color: white;
    background-color: #B2101D;
    padding: 0rem 0.75rem 0rem 0.75rem;
  }
  &--nav-active {
    @media only screen and (max-width: 920px) {
      display: none;
    }
    @media only screen and (min-width: 921px) {
      display: block;
    }
    font-size: 1.5rem;
    color: #B2101D;
    padding: 0rem 0.75rem 0rem 0.75rem;
    background-color: #FFFFFF;
    border: 0.1rem solid #B2101D;
  }
}
a:not([href]):not([tabindex]) {
  color: #FFFFFF;
  cursor: pointer;
}
a:not([href]):not([tabindex]):hover {
  text-decoration: underline;
}
