@import "../../global-files/scss/variables";

.doctor {
  padding-top: $padding-header-for-nav;
  font-size: $font-normal-size;
  @extend %responsive-body;
  &__welcome-section {
    font-size: 1.35rem;
    z-index: 7;
    margin-top: 3rem;
    @media only screen and (min-width: 1001px) {
      background-color: $rrp-primary-color;
      float: right;
      width: 40%;
      position: relative;
      color: $rrp-inverse-color;
    }
    @media only screen and (max-width: 1000px) {
      background-color: $rrp-inverse-color;
      width: 90%;
      position: absolute;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
    }
    &--Count {
      @media only screen and (min-width: 1001px) {
        color: $rrp-secondary-color;
      }
      @media only screen and (max-width: 1000px) {
        color: $rrp-primary-color;
      }
    }
  }
}

.body {
  @extend %responsive-body;
  &__newPatients {
    @media only screen and (min-width: 1001px) {
      padding-top: $padding-header-after-nav;
        width: 65%;
      }
      @media only screen and (max-width: 1000px) {
        padding-top: 15rem;
      }
      @media only screen and (max-width: 400px) {
        padding-top: 18rem;
      }
    }
  &__chartSection {
    padding-top: $padding-between-elements;
      position: relative;
    }
  &__chart {
      display: block;
    }
  &__table {
    width: 70%;
    @media only screen and (min-width: 551px) {
      &--mobile {
        display: none;
      }
    }
    @media only screen and (max-width: 550px) {
      &--full {
        display: none;
      }
    }
  }
}

