<div class="doctor" id="loginSite">
    <app-navbar-doctor></app-navbar-doctor>
    <div class="container-fluid">
        <div class="doctor__welcome-section shadow p-3 rounded">
            <h1>Willkommen Dr. {{name}}</h1>
            <p>Sie haben <a class="doctor__welcome-section--Count" routerLink="/doctor/messages/appointments">
                {{messageCounter}}</a></p>
            <p>und <a class="doctor__welcome-section--Count" routerLink="/doctor/messages/alerts">
                {{alertCounter}}</a></p>
        </div>

        <div class="shadow p-3 bg-white body">
            <div class="body__newPatients">
                <h2>Die letzten 5 neu verknüpften Patienten</h2>
                <table class="table table-hover body__table--full">
                    <thead>
                    <tr>
                        <th scope="col">Registriert am:</th>
                        <th scope="col">Nachname</th>
                        <th scope="col">Vorname</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of users | slice:0:5"
                        (click)="onSelect(user)">
                        <td>{{user.registered | date:'dd.MM.yyyy'}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.first_name}}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-hover body__table--mobile">
                    <thead>
                    <tr>
                        <th scope="col">Registriert am:</th>
                        <th scope="col">Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of users | slice:0:5"
                        (click)="onSelect(user)">
                        <td>{{user.registered | date:'dd.MM'}}</td>
                        <td>{{user.last_name}} {{user.first_name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="body__chartSection">
                <h2>Patientenzuwachs der letzten Woche:</h2>
                <highcharts-chart
                        [Highcharts]="patientChart"
                        [options]="patientChartOptions"
                        class="body__chart"
                ></highcharts-chart>
            </div>
        </div>
    </div>
</div>
<app-no-access></app-no-access>