@import "../../global-files/scss/nav";

.doctor {
  font-size: 1rem;
  padding-top: 5.5rem;
  &__welcome-section {
    font-size: 1.35rem;
    z-index: 7;
    margin-top: 3rem;
    @media only screen and (min-width: 1000px) {
      background-color: #B2101D;
      float: right;
      width: 40%;
      position: relative;
      color: #FFFFFF;
    }
    @media only screen and (max-width: 1000px) {
      background-color: #FFFFFF;
      width: 90%;
      position: absolute;
      color: #000000;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
    }
    &--card {
      position: relative;
      height: 8rem;
    }
    &--Count {
      @media only screen and (min-width: 1000px) {
        color: #FFE26F;
      }
      @media only screen and (max-width: 1000px) {
        color: #B2101D;
      }
    }
  }

  &__body {
    @media only screen and (min-width: 1000px) {
      width: 80%;
    }
    @media only screen and (max-width: 1000px) {
      width: 100%;
    }
    &--newPatients {
      @media only screen and (min-width: 1000px) {
        padding-top: 2.5rem;
        width: 65%;
      }
      @media only screen and (max-width: 1000px) {
        padding-top: 15rem;
      }
      @media only screen and (max-width: 400px) {
        padding-top: 18rem;
      }
    }
    &--chartSection {
      padding-top: 1rem;
      position: relative;
    }
    &--chart {
      display: block;
    }
  }

  &__table {
    width: 70%;
    @media only screen and (min-width: 550px) {
      &--mobile {
        display: none;
      }
    }
    @media only screen and (max-width: 550px) {
      &--full {
        display: none;
      }
    }
  }
}

