<div class="doctor" id="loginSite">
    <nav class="nav">
        <a routerLink="/doctor/dashboard" class="nav--nav-active">Dashboard</a>
        <a routerLink="/doctor/messages/appointments" class="nav--nav-item">Nachrichten</a>
        <a routerLink="/doctor/patients/list" class="nav--nav-item">Patienten</a>
        <a routerLink="/doctor/user/information" class="nav--nav-item">Benutzer</a>
        <a routerLink="/home" class="nav--nav-item" (click)="onOff()">Abmelden</a>
    </nav>
    <select class="custom-select navMobile" (click)="onRoute()" #route>
        <option value="/doctor/dashboard" selected="selected">Dashboard</option>
        <option value="/doctor/messages/appointments">Nachrichten</option>
        <option value="/doctor/patients/list">Patienten</option>
        <option value="/doctor/user/information">Benutzer</option>
        <option value="/home" (click)="onOff()">Abmelden</option>
    </select>
    <div class="nav--firstSkewDoc"></div>
    <div class="container-fluid">
        <div class="doctor__welcome-section shadow p-3 rounded">
            <h1>Willkommen Dr. {{name}}</h1>
            <p>Sie haben <a class="doctor__welcome-section--Count" routerLink="/doctor/messages/appointments">
                {{messageCounter}}</a></p>
            <p>und <a class="doctor__welcome-section--Count" routerLink="/doctor/messages/alerts">
                {{alertCounter}}</a></p>
        </div>

        <div class="shadow p-3 bg-white doctor__body">
            <div class="doctor__body--newPatients">
                <h2>Die letzten 5 neu verknüpften Patienten</h2>
                <table class="table table-hover doctor__table--full">
                    <thead>
                    <tr>
                        <th scope="col">Registriert am:</th>
                        <th scope="col">Nachname</th>
                        <th scope="col">Vorname</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of users | slice:0:5"
                        (click)="onSelect(user)">
                        <td>{{user.registered | date:'dd.MM.yyyy'}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.first_name}}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-hover doctor__table--mobile">
                    <thead>
                    <tr>
                        <th scope="col">Registriert am:</th>
                        <th scope="col">Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of users | slice:0:5"
                        (click)="onSelect(user)">
                        <td>{{user.registered | date:'dd.MM'}}</td>
                        <td>{{user.last_name}} {{user.first_name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="doctor__body--chartSection">
                <h2>Patientenzuwachs der letzten Woche:</h2>
                <highcharts-chart
                        [Highcharts]="patientChart"
                        [options]="patientChartOptions"
                        class="doctor__body--chart"
                ></highcharts-chart>
            </div>
        </div>
    </div>
</div>
<div class="noAccess" id="noAccess">
    <div class="jumbotron shadow p-3 bg-white rounded">
        <h1>Sie haben keinen Zutritt zu diesem Teil der Seite</h1>
        <p>Bitte melden Sie sich <a routerLink="/home">hier</a> an</p>
    </div>
</div>