@import "../../../global-files/scss/variables";

.appointmentPatient {
  padding-top: $padding-header-for-nav;
  font-size: $font-normal-size;
  @extend %responsive-body;
}

.body {
  &__appointment {
    padding-top: $padding-header-after-nav;
    &--header {
      left: 10rem;
      position: absolute;
    }
  }
  &__form {
    padding-top: $padding-between-elements;
    width: 20rem;
  }
}

