<div class="appointmentPatient" id="loginSite">
    <app-navbar-patients></app-navbar-patients>
    <app-navbar-contact></app-navbar-contact>
    <div class="container-fluid">
        <div class="shadow p-3 bg-white body">
            <div class="body__appointment">
                <h2>Ordinations Zeiten:</h2>
                <p>Montag: <span class="body__appointment--header">{{openhours.mon}}</span></p>
                <p>Dienstag: <span class="body__appointment--header">{{openhours.tues}}</span></p>
                <p>Mittwoch: <span class="body__appointment--header">{{openhours.wed}}</span></p>
                <p>Donnerstag: <span class="body__appointment--header">{{openhours.thues}}</span></p>
                <p>Freitag: <span class="body__appointment--header">{{openhours.fri}}</span></p>
                <p>Samstag: <span class="body__appointment--header">{{openhours.sat}}</span></p>
                <p>Sonntag: <span class="body__appointment--header">{{openhours.sun}}</span></p>
                <div class="body__form">
                    <h2>Terminvereinbarung</h2>
                    <form (ngSubmit)="onSend(appointmentForm.value)"
                          #appointmentForm="ngForm" ngNativeValidate>
                        <div class="form-group">
                            <label for="date">Datum: </label>
                            <input type="date" id="date" name="date" class="form-control"
                                   [(ngModel)]="appointmentForm.date" required>
                        </div>
                        <div class="form-group">
                            <label for="time">Uhrzeit: </label>
                            <input type="time" id="time" class="form-control" name="time"
                                   min="8:00" max="16:00" step="00:30" [(ngModel)]="appointmentForm.time" required>
                        </div>
                        <div class="form-group">
                            <label for="type">Grund des Termins: </label>
                            <select id="type" name="type" class="form-control"
                                    [(ngModel)]="appointmentForm.type" required>
                                <option value="Neueinstellung">Neueinstellung der Medikamente</option>
                                <option value="Kontrolltermin">Kontrolltermin für den Blutdruck</option>
                                <option value="Gesundheitscheck">Gesundheitscheck</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-danger">Absenden</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-no-access></app-no-access>