.appointmentPatient {
  padding-top: 5.5rem;
  font-size: 1rem;
  &__body {
    @media only screen and (min-width: 1001px) {
      width: 80%;
    }
    @media only screen and (max-width: 1000px) {
      width: 100%;
    }
    &--times {
      left: 10rem;
      position: absolute;
    }
    &--appointment {
      padding-top: 4.5rem;
    }
  }
  &__form {
    width: 20.324375rem;
  }
}

