<div class="appointmentPatient" id="loginSite">
  <app-navbar-patients></app-navbar-patients>
    <app-navbar-contact></app-navbar-contact>
  <div class="container-fluid">
    <div class="shadow p-3 bg-white appointmentPatient__body">
      <div class="appointmentPatient__body--appointment">
          <h2>Ordinations Zeiten:</h2>
          <p>Montag: <span class="appointmentPatient__body--times">{{openhours.mon}}</span></p>
          <p>Dienstag: <span class="appointmentPatient__body--times">{{openhours.tues}}</span></p>
          <p>Mittwoch: <span class="appointmentPatient__body--times">{{openhours.wed}}</span></p>
          <p>Donnerstag: <span class="appointmentPatient__body--times">{{openhours.thues}}</span></p>
          <p>Freitag: <span class="appointmentPatient__body--times">{{openhours.fri}}</span></p>
          <p>Samstag: <span class="appointmentPatient__body--times">{{openhours.sat}}</span></p>
          <p>Sonntag: <span class="appointmentPatient__body--times">{{openhours.sun}}</span></p>
        <h2>Terminvereinbarung</h2>
        <form (ngSubmit)="onSend()" #appointmentForm="ngForm" ngNativeValidate>
          <div class="form-group">
              <label for="date">Datum: </label>
              <input type="date" id="date" name="date" class="form-control"
                     [(ngModel)]="date" required>
          </div>
          <div class="form-group">
              <label for="time">Uhrzeit: </label>
              <input type="time" id="time" class="form-control" name="time"
                     min="8:00" max="16:00" step="00:30" [(ngModel)]="time" required>
          </div>
          <div class="form-group">
              <label for="type">Grund des Termins: </label>
              <select id="type" name="type" class="form-control"
                      [(ngModel)]="type" required>
                <option value="Neueinstellung">Neueinstellung der Medikamente</option>
                <option value="Kontrolltermin">Kontrolltermin für den Blutdruck</option>
                <option value="Gesundheitscheck">Gesundheitscheck</option>
              </select>
          </div>
          <div class="form-group">
              <button type="submit" class="form-control btn btn-danger">Absenden</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-no-access></app-no-access>