@import "../../../global-files/scss/signIn";
@import "../../../global-files/scss/nav";
@import "../assets/scss/navPatients";

.record {
  padding-top: 5.5rem;
  font-size: 1.35rem;
  &__body {
    @media only screen and (min-width: 1000px) {
      width: 80%;
    }
    @media only screen and (max-width: 1000px) {
      width: 100%;
    }
  }
  &__noSelectedPatient {
    padding-top: 4rem;
  }
  &__selectedPatient {
    padding-top: 4rem;
    display: none;
    &--label{
      font-weight: bold;
    }
    &--btn{
      margin-top: 2rem;
      width: 100%;
      font-size: 1.2rem;
      padding-bottom: 0.125rem;
    }
    &--meds{
      padding-top: 2rem;
    }
    &--newMed{
      width: 9rem
    }
    &--newMedLabel{
      width: 7.48125rem;
    }
    &--newMedBtn{
      width: 7.48125rem;
      @media only screen and (max-width: 500px) {
        position: absolute;
        margin-top: 4.75rem;
      }
    }
    &--medList{
      padding-top: 1rem;
      @media only screen and (max-width: 500px) {
        padding-top: 3rem;
      }
    }
    &--medItemForm{
      display: none;
    }
    &--edit{
      padding-left: 1rem;
      color: green;
    }
    &--delete{
      padding-left: 1rem;
      color: red;
    }
    &--chart{
      padding-top: 2rem;
    }
    &--valueChart{
      width: 90%;
      display: block;
    }
  }
  &__newPatient {
    padding-top: 4rem;
    display: none;
    &--label{
      margin-top: 0.5rem;
    }
    &--fielset{
      margin-top: 1rem;
    }
    &--fielset-label{
      font-weight: bold;
    }
    &--btn{
      margin-top: 1rem;
      width: 100%;
      font-size: 1.5rem;
    }
  }
}