@import "../../../global-files/scss/form-validation";
@import "../../../global-files/scss/variables";

.record {
  padding-top: $padding-header-for-nav;
  font-size: $font-normal-size;
  @extend %responsive-body;
}

.noSelectedPatient {
  padding-top: $padding-header-after-nav;
}

.selectedPatient {
  padding-top: $padding-header-after-nav;
    display: none;
  &__label {
      font-weight: bold;
    }
  &__btn {
    margin-top: 1rem;
      width: 100%;
    margin-bottom: 0.125rem;
    }
  &__meds {
      padding-top: 2rem;
    }
  &__newMed {
      width: 9rem
    }
  &__newMedLabel {
      width: 7.48125rem;
    }
  &__newMedBtn {
      width: 7.48125rem;
    }
  &__medList {
      padding-top: 1rem;
      @media only screen and (max-width: 500px) {
        padding-top: 3rem;
      }
    }
  &__medItemForm {
      display: none;
    }
  &__edit {
      padding-left: 1rem;
      color: green;
      background: none;
      border: none;
      cursor: pointer;
      outline: inherit;
    }
  &__delete {
      padding-left: 1rem;
      color: red;
      cursor: pointer;
    }
  &__chart {
      padding-top: 2rem;
    }
  &__valueChart {
      width: 90%;
      display: block;
    }
  }

.newPatient {
  padding-top: $padding-header-after-nav;
  &__label {
      margin-top: 0.5rem;
    }
  &__fielset {
      margin-top: 1rem;
    }
  &__fielset-label {
      font-weight: bold;
    }
  &__btn {
      margin-top: 1rem;
      width: 100%;
      font-size: 1.5rem;
    }
}