@import "../../../global-files/scss/variables";

.settings {
  padding-top: $padding-header-for-nav;
  font-size: $font-normal-size;
  @extend %responsive-body;
}

.body {
  padding-top: $padding-header-after-nav;
  &__general {
    &--label {
      margin-top: 0.5rem;
      display: block;
    }
    &--input {
      width: 50%;
      display: block;
    }
    &--btn {
      margin-top: 0.5rem;
      display: block;
    }
  }
}
