@import "../../../global-files/scss/signIn";
@import "../../../global-files/scss/nav";
@import "../assets/scss/navUser";

.settings {
  padding-top: 5.5rem;
  font-size: 1.35rem;
  &__body {
    @media only screen and (min-width: 1000px) {
      width: 80%;
    }
    @media only screen and (max-width: 1000px) {
      width: 100%;
    }
  }
  &__general {
    padding-top: 4rem;
    &--label{
      margin-top: 0.5rem;
      display: block;
    }
    &--input{
      width: 50%;
      display: block;
      padding-bottom: 0rem;
    }
    &--btn{
      margin-top: 0.5rem;
      display: block;
    }
  }
  &__security {
    padding-top: 1.5rem;
    &--label{
      margin-top: 0.5rem;
    }
    &--input{
      width: 50%;
    }
    &--btn{
      margin-top: 0.5rem;
    }
  }
}
