<div class="doctorInformation" id="loginSite">
    <app-navbar-doctor></app-navbar-doctor>
    <app-navbar-user-doctor></app-navbar-user-doctor>
    <div class="container-fluid">
        <div class="shadow p-3 bg-white">
            <div class="body">
                <app-user-information></app-user-information>
                <h2>Ordination:</h2>
                <span class="body__general--header">Zeiten:</span>
                <p>Montag: <span class="body__general--day">{{openhours.mon}}</span></p>
                <p>Dienstag: <span class="body__general--day">{{openhours.tues}}</span></p>
                <p>Mittwoch: <span class="body__general--day">{{openhours.wed}}</span></p>
                <p>Donnerstag: <span class="body__general--day">{{openhours.thues}}</span></p>
                <p>Freitag: <span class="body__general--day">{{openhours.fri}}</span></p>
                <p>Samstag: <span class="body__general--day">{{openhours.sat}}</span></p>
                <p>Sonntag: <span class="body__general--day">{{openhours.sun}}</span></p>
                <span class="body__general--header">Adresse:</span>
                <span>{{openhours.address}}</span>
            </div>
        </div>
    </div>
</div>
<app-no-access></app-no-access>