@import "../../../global-files/scss/variables";

.doctorInformation {
  padding-top: $padding-header-for-nav;
  font-size: $font-normal-size;
  @extend %responsive-body;
}

.body {
  padding-top: $padding-header-after-nav;
  &__general {
    &--span {
      padding-left: 1rem;
      display: block;
    }
    &--label {
      margin-top: 0.25rem;
    }
    &--day {
      left: 10rem;
      position: absolute;
    }
    &--header {
      display: block;
      font-weight: bold;
    }
  }
}
