@import "../global-files/scss/form-validation";
@import "../global-files/scss/variables";

.home {
  padding-top: $padding-header;
  &--form {
    width: $form-width;
  }
  &--saveBtn {
    margin-top: 1rem;
  }
  &--testBtn {
    margin-left: 1rem;
  }
}
