<div class="container-fluid">
  <div class="home">
    <div class="jumbotron shadow p-3 bg-white rounded home-view__LogIn-form">
      <h1>Anmelden</h1>
      <form class="form-inline" (ngSubmit)="onLogIn()" #logInForm="ngForm" ngNativeValidate>
        <div class="form-row input-group">
          <div class="col-md-5 input-group-prepend">
            <label class="input-group-text home--formLabel" for="username">S<span class="sr-only">ozial</span>
              V<span class="sr-only">ersicherungs</span>-N<span class="sr-only">ummer</span>r:</label>
            <input type="text" id="username" name="username" value="2167050980"
                   [(ngModel)]="username" pattern='[0-9]{10}' required>
          </div>
          <div class="col-md-5 input-group-prepend">
            <label class="input-group-text home--formLabel"  for="password">Passwort:</label>
            <input type="password" id="password" name="password"
                   [(ngModel)]="password" required>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-danger">Anmelden</button>
          </div>
        </div>
      </form>
      <a routerLink="/home">Passwort vergessen?</a>
    </div>
    <div class="jumbotron shadow p-3 bg-white rounded home-view__newUser-form">
      <h1>Registrieren</h1>
      <form>
        <div class="form-row">
          <div class="col-md-2 col-sm-12">
            <label for="firstName">Vorname:</label>
            <input id="firstName" name="firstName" type="text" class="form-control" required>
          </div>
          <div class="col-md-2 col-sm-12">
            <label for="lastName">Nachname: </label>
            <input id="lastName" name="lastName" type="text" class="form-control" required>
          </div>
          <div class="col-md-2 col-sm-12">
            <label for="type">Art des Kontos: </label>
            <select id="type" class="form-control" #gender>
              <option value="doctor">Patient</option>
              <option value="patient">Doktor</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-2 col-sm-12">
            <label for="sv">SV-Nummer:</label>
            <input id="sv" type="text" class="form-control" pattern='[0-9]{10}' required>
          </div>
          <div class="col-md-2 col-sm-12">
            <label for="age">Alter: </label>
            <input id="age" type="number" class="form-control" min="14" max="110" required>
          </div>
          <div class="col-md-2 col-sm-12">
            <label for="gender">Geschlecht: </label>
            <select id="gender" class="form-control" #gender>
              <option value="m" >Männlich</option>
              <option value="w">Weiblich</option>
            </select>
          </div>
        </div>
        <input type="submit" value="Registrieren" class="btn btn-danger home--saveBtn">
      </form>
    </div>
  </div>
</div>