@import "../global-files/scss/form-validation";

.home {
  padding-top: 5rem;
  &--form {
    width: 6.18875rem;
  }
  &--saveBtn {
    margin-top: 1rem;
  }
  &--testBtn {
    margin-left: 1rem;
  }
}
