.doctorSettings {
  padding-top: 5.5rem;
  font-size: 1em;
  &__body {
    @media only screen and (min-width: 1000px) {
      width: 80%;
    }
    @media only screen and (max-width: 1000px) {
      width: 100%;
    }
  }
  &__general {
    padding-top: 4rem;
    &--heading {
      padding-top: 1.5rem;
    }
    &--label{
      width: 8.706875rem;
    }
    &--btn{
      margin-top: 0.5rem;
    }
    &--field {
      margin-top: 0.5rem;
    }
  }
}