@import "../../../global-files/scss/variables";

.doctorSettings {
  padding-top: $padding-header-for-nav;
  font-size: $font-normal-size;
  @extend %responsive-body;
}

.body {
  padding-top: $padding-header-after-nav;
  &__general {
    &--heading {
      padding-top: 1.5rem;
    }
    &--label {
      width: 8.706875rem;
    }
  }
  &__btn {
      margin-top: 0.5rem;
      width: 8.706875rem;
    }
  &__field {
      margin-top: 0.5rem;
    }
}