<nav class="navParameter" #nav>
    <a routerLink="/patient/parameter/chart" class="navParameter--nav-item">Chart Ansicht</a>
    <a routerLink="/patient/parameter/list" class="navParameter--nav-item">Detail Ansicht</a>
</nav>
<div class="navParameter__skewRight"></div>
<div class="navParameter__skewLeft"></div>
<select class="custom-select navSecondMobile" (change)="onRoute($event.target.value)" #navMobile>
    <option value="patient/parameter/chart">Chart Ansicht</option>
    <option value="patient/parameter/list">Detail Ansicht</option>
</select>
<div class="navSecondMobile__skew"></div>