<div class="doctorSettings" id="loginSite">
  <nav class="doctorSettings__navbar">
    <a routerLink="/doctor/dashboard" class="doctorSettings__navbar--nav-item">Dashboard</a>
    <a routerLink="/doctor/messages" class="doctorSettings__navbar--nav-item">Nachrichten</a>
    <a routerLink="/doctor/patients" class="doctorSettings__navbar--nav-item">Patienten</a>
    <a routerLink="/doctor/settings" class="doctorSettings__navbar--nav-item">Einstellungen</a>
    <a routerLink="/home" class="doctorSettings__navbar--nav-item" (click)="onOff()">Abmelden</a>
  </nav>
  <div class="doctorSettings__navbar--skew"></div>

  <div class="container-fluid">
    <div class="shadow p-3 bg-white alertDoctor__body">
      <div class="doctorSettings__body--settings">
        <h2>Einstellungen</h2>
      </div>
    </div>
  </div>
</div>
<div class="noAccess" id="noAccess">
  <div class="jumbotron shadow p-3 bg-white rounded">
    <h1>Sie haben keinen Zutritt zu diesem Teil der Seite</h1>
    <p>Bitte melden Sie sich <a routerLink="/home">hier</a> an</p>
  </div>
</div>