@import "../../global-files/scss/signIn";
@import "../../global-files/scss/nav";

.patient{
  padding-top: 5.5rem;
  font-size: 1.35rem;
  &__body{
    width: 80%;
  }
    &__achievement{
      padding-top: 2.5rem;
    }
  &__appointment{
    padding-top: 1.5rem;
    &--link{
      color: #B2101D;
    }
  }
    &__parameter{
      padding-top: 1.5rem;
      width: 70%;
      position: relative;
      &--chart{
        display: block;
      }
    }



  &__welcome-section{
    z-index: 7;
    background-color: #B2101D;
    margin-top: 2rem;
    float: right;
    width: 40%;
    position:relative;
    color: #FFFFFF;
    &--card{
      position: relative;
      text-align: center;
      color: white;
      height: 8rem;
    }
    &--alertCount{
      color: #FFE26F;
    }
    &--dayCount{
      color: white;
      position: absolute;
      font-size: 3rem;
      top: 1.8rem;
      right: 12.7rem;
    }
    &--avatar{
      height: 100%;
    }
  }

  &__sendValues-section{
    z-index: 7;
    position: absolute;
    background-color: #B2101D;
    width: 42rem;
    color: #FFFFFF;
    top: 25rem;
    right: 0.9375rem;
  }
}
