<div class="patient" id="loginSite">
  <nav class="nav">
    <a routerLink="/patient/dashboard" class="nav--nav-active">Dashboard</a>
    <a routerLink="/patient/parameter/chart" class="nav--nav-item">Blutdruckwerte</a>
    <a routerLink="/patient/achievement" class="nav--nav-item">Herausforderungen</a>
    <a routerLink="/patient/contact/appointment" class="nav--nav-item">Kontakt</a>
    <a routerLink="/patient/user/information" class="nav--nav-item">Benutzer</a>
    <a routerLink="/home" class="nav--nav-item" (click)="onOff()">Abmelden</a>
  </nav>
  <select class="custom-select navMobile" (change)="onRoute($event.target.value)">
    <option value="patient/dashboard" selected="selected">Dashboard</option>
    <option value="patient/parameter/chart">Blutdruckwerte</option>
    <option value="patient/achievement">Herausforderungen</option>
    <option value="patient/contact/appointment">Kontakt</option>
    <option value="patient/user/information">Benutzer</option>
    <option value="home" (click)="onOff()">Abmelden</option>
  </select>
  <div class="nav--firstSkewPat"></div>
  <div class="container-fluid">
    <div class="patient__welcome-section jumbotron shadow p-3 rounded">
      <div class="row">
        <div class="col-6">
          <h1>Hallo</h1>
          <h1>{{name}}!</h1>
        </div>
        <div class="col-6">
          <div class="patient__welcome-section--card">
            <img src="/assets/card-man.png" alt="avatar" class="patient__welcome-section--avatarWhite">
            <img src="/assets/card-man-mobile.png" alt="avatar" class="patient__welcome-section--avatarRed">
          </div>
          <div class="patient__welcome-section--dayCount">
            <fa name="{{status}}"></fa>
          </div>
        </div>
      </div>
      <p>Sie haben <a class="patient__welcome-section--alertCount" routerLink="/patient/contact/alert">
        {{messageCounter}}</a></p>
    </div>
    <div class="patient__sendValues-section jumbotron shadow p-3 rounded">
      <h1>Blutdruck eintragen</h1>
      <form class="form-inline" ngNativeValidate>
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text patient__sendValues-section--label" for="systole">Systole:</label>
            <input min="90" max="300" type="number" id="systole" required #systole>
          </div>
          <div class="input-group-prepend">
            <label class="input-group-text patient__sendValues-section--label" for="diastole">Diastole:</label>
            <input min="50" max="130" type="number" id="diastole" required #diastole>
          </div>
          <div class="input-group-prepend">
            <label class="input-group-text patient__sendValues-section--label" for="heartRate">Herzrate:</label>
            <input min="40" max="200" type="number" id="heartRate" required #heartRate>
          </div>
          <div class=" ">
            <button type="submit" (click)="onSend()" class="btn btn-danger">
              <fa name="heart"></fa></button>
          </div>
        </div>
      </form>
    </div>

    <div class="shadow p-3 bg-white patient__body">
      <div class="patient__achievement">
        <h2>Herausforderungen</h2>
        <p>Ihnen fehlen noch 3 Tage für den nächsten Erfolg!</p>
      </div>
      <div class="patient__appointment">
        <h2>Termin</h2>
        <p>Sie können <a class="patient__appointment--link" routerLink="/patient/contact/appointment">
          hier</a> online einen Termin vereinbaren</p>
      </div>
      <div class="patient__parameter">
        <h2>Ihre Blutdruckwerte der letzten 3 Tage</h2>
        <highcharts-chart
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                class="patient__parameter--chart"
        ></highcharts-chart>
      </div>
    </div>
  </div>
</div>
<div class="noAccess" id="noAccess">
  <div class="jumbotron shadow p-3 bg-white rounded">
    <h1>Sie haben keinen Zutritt zu diesem Teil der Seite</h1>
    <p>Bitte melden Sie sich <a routerLink="/home">hier</a> an</p>
  </div>
</div>