@import "../../global-files/scss/variables";

.patient {
  padding-top: $padding-header-for-nav;
  font-size: $font-normal-size;
  &__card {
    position: relative;
    height: 8rem;
  }
  &__welcome-section {
    font-size: $font-bigger-size;
    z-index: 7;
    margin-top: 3rem;
    @media only screen and (min-width: 1053px) {
      background-color: $rrp-primary-color;
      float: right;
      width: 40%;
      position: relative;
      color: $rrp-inverse-color;
      &--avatarWhite {
        position: absolute;
        width: 15rem;
        top: 0rem;
        right: 0;
      }
      &--avatarRed {
        display: none;
      }
    }
    @media only screen and (max-width: 1052px) {
      background-color: $rrp-inverse-color;
      width: 90%;
      position: absolute;
      color: #000000;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
      &--dayCount {
        color: $rrp-primary-color;
      }
      &--avatarWhite {
        display: none;
      }
      &--avatarRed {
        position: absolute;
        width: 15rem;
        top: 0rem;
        right: 0;
      }
    }
    @media only screen and (max-width: 460px) {
      &--avatarWhite {
        display: none;
      }
      &--avatarRed {
        display: none;
      }
      &--dayCount {
        display: none;
      }
    }
    &--alertCount {
      @media only screen and (min-width: 1053px) {
        color: $rrp-secondary-color;
      }
      @media only screen and (max-width: 1052px) {
        color: $rrp-primary-color;
      }
    }
    &--dayCount {
      position: absolute;
      font-size: 3rem;
      top: 1.55rem;
      right: 10.45rem;
    }
  }
  &__sendValues-section {
    z-index: 7;
    @media only screen and (min-width: 1053px) {
      background-color: $rrp-primary-color;
      margin-top: 20rem;
      right: 1rem;
      width: 39%;
      position: absolute;
      color: $rrp-inverse-color;
    }
    @media only screen and (max-width: 1052px) {
      background-color: $rrp-inverse-color;
      margin-top: 15.5rem;
      width: 90%;
      position: absolute;
      color: #000000;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
    }
  }
}

.body {
  @extend %responsive-body;
  &__achievement {
    @media only screen and (min-width: 1053px) {
      padding-top: $padding-header-after-nav;
    }
    @media only screen and (max-width: 1052px) {
      padding-top: 25rem;
    }
  }
  &__appointment {
    padding-top: $padding-between-elements;
    &--link {
      color: $rrp-primary-color;
    }
  }
  &__parameter {
    padding-top: $padding-between-elements;
    position: relative;
    @media only screen and (min-width: 1053px) {
      width: 70%;
    }
    @media only screen and (max-width: 1052px) {
      width: 100%;
    }
  }
  &__chart {
    display: block;
  }
}
